#about-serial.about-serial
	.about-serial-header
		h2.about-serial-header__title Красная луна, голубое солнце
		h2.about-serial-header__subtitle Кровавая луна, ледяное солнце / Красная луна, синее солнце / Children of Nobody / Beuleundal Peureunhae
		.about-serial-rating
			include rating.pug
			span.rating-vote-count 1 879 голосов
	.about-serial-body

		.about-serial-mobile
			.about-serial-poster-wrap
				.about-serial-poster
					img(src="./images/poster-serial.png" alt="Красная луна, голубое солнце")
					//- add class "about-serial__status completed" for completed serials
					span.about-serial__status выходит
			.about-serial-info
				ul.about-serial-characteristics
					li
						span.font-light-16 MyDramaList
						span.font-light-18 7.9
					li
						span.font-light-16 КиноПоиск
						span.font-light-18 7.8
					li
						span.font-light-16 IMDb
						span.font-light-18 8.0
					li
						span.font-light-16 Дата  выхода
						span.font-light-18 2017
					li
						span.font-light-16 Озвучка
						span.font-light-18 русские субтитры

		.about-serial-left
			.about-serial-poster
				img(src="./images/poster-serial.png" alt="Красная луна, голубое солнце")
				//- class "about-serial__status completed" for completed serials
				span.about-serial__status выходит

		.about-serial-right
			ul.about-serial-characteristics
				li.mobile-hidden
					span.font-light-16 MyDramaList
					span.font-light-18 7.9
				li.mobile-hidden
					span.font-light-16 КиноПоиск
					span.font-light-18 7.8
				li.mobile-hidden
					span.font-light-16 IMDb
					span.font-light-18 8.0
				li.mobile-hidden
					span.font-light-16 Дата  выхода
					span.font-light-18 2017
				li.mobile-hidden
					span.font-light-16 Озвучка
					span.font-light-18 русские субтитры
				li
					span.font-light-16 Жанры
					span.font-light-18 драмы, мелодрама, ...
				li
					span.font-light-16 Страна
					span.font-light-18 Южная Корея, Китай
				li
					span.font-light-16 Оригинальное 
					span.font-light-18 푸른 바다의 전설 
				li
					span.font-light-16 Количество серий 
					span.font-light-18 18 серий
				li
					span.font-light-16 Продолжительность
					span.font-light-18 80 мин
				li
					span.font-light-16 Создатели: 
					span.font-light-18 Со И-хён, Тхэгён, Ким Джэ-ук, ...
				li
					span.font-light-16 Актеры: 
					span.font-regular-18 Со И-хён, Тхэгён, Ким Джэ-ук, Ким Е-вон, Ким Чхан-ван, Пак Ён-джи, ...
			
			.buttons-line
				button.button.button_type_border 
					span Трейлер
				a.button.first-episode-link(href="javascript:void(0);")
					span Смотреть с 1 серии