include ../mixins/catalog-item_type_little-episode.pug

- var serials = [
-		{ img: './images/serials-main/1.jpg', episodeNumber: 21, active: true },
-		{ img: './images/serials-main/2.jpg', episodeNumber: 22, active: false },
-		{ img: './images/serials-main/3.jpg', episodeNumber: 23, active: false },
-		{ img: './images/serials-main/4.jpg', episodeNumber: 24, active: false },
-		{ img: './images/serials-main/5.jpg', episodeNumber: 25, active: false },
-		{ img: './images/serials-main/6.jpg', episodeNumber: 26, active: false }];

.all-episodes
	.all-episodes-header
		span.h2 Все серии
		a.external-link(href="javascript:void(0);")
			span о дораме
			svg.icon-svg-link
				use(xlink:href="#link")
	.all-episodes-slider
		.swiper-container
			.swiper-wrapper
				each serial in serials
					.swiper-slide
						+catalog-item_type_little-episode(serial)
			button.swiper-button.swiper-button-prev
				svg.icon-svg-arrow-prev
					use(xlink:href="#arrow-prev")
			button.swiper-button.swiper-button-next
				svg.icon-svg-arrow-next
					use(xlink:href="#arrow-next")