- var contries = ['Все', 'Япония', 'Япония', 'Япония', 'Япония', 'Япония', 'Япония', 'Япония', 'Япония'];
- var statuses = ['Все', 'Завершен', 'Выходит'];
- var genres = ['Все', 'Биография', 'Драма', 'Военный'];
- var sounds = ['Все', 'Softbox', 'GreenTea', 'Храм Дорам'];
- var dateRelease = ['Все', 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020];

#filter.filter
	.filter-container
		form
			.filter-top-block
				.form-item.form-item_type_range
					label Год выпуска
					#field-date-release.filter__date-release.form-control(data-min="2000" data-max="2020" data-start-left="2000" data-start-right="2020")
						input(type="hidden" id="filter-date-release-min" name="date-release-min")
						input(type="hidden" id="filter-date-release-max" name="date-release-max")

			.filter-bottom-block
				#field-country.select.form-control(aria-expanded="false")
					select#filter-country(name="country")
						each val, i in contries
							option(value=i ? i : '')= val
					.select-field
						.select-field__label Страна
						.select-field__value 
						svg.icon-svg-dropdown
							use(xlink:href="#dropdown")
					.select-list
						.select-list-wrap(data-simplebar data-simplebar-auto-hide="false")
							ul
								each val, i in contries
									li(data-value=i)= val

				#field-status.select.form-control(aria-expanded="false")
					select#filter-status(name="status")
						each val, i in statuses
							option(value=i ? i : '')= val
					.select-field
						.select-field__label Статус
						.select-field__value 
						svg.icon-svg-dropdown
							use(xlink:href="#dropdown")
					.select-list
						.select-list-wrap(data-simplebar data-simplebar-auto-hide="false")
							ul
								each val, i in statuses
									li(data-value=i)= val

				#field-genre.select.form-control(aria-expanded="false")
					select#filter-genre(name="genre")
						each val, i in genres
							option(value=i ? i : '')= val
					.select-field
						.select-field__label Жанр
						.select-field__value 
						svg.icon-svg-dropdown
							use(xlink:href="#dropdown")
					.select-list
						.select-list-wrap(data-simplebar data-simplebar-auto-hide="false")
							ul
								each val, i in genres
									li(data-value=i)= val

				#field-sounds.select.form-control(aria-expanded="false")
					select#filter-sounds(name="sound")
						each val, i in sounds
							option(value=i ? i : '')= val
					.select-field
						.select-field__label Озвучка
						.select-field__value 
						svg.icon-svg-dropdown
							use(xlink:href="#dropdown")
					.select-list
						.select-list-wrap(data-simplebar data-simplebar-auto-hide="false")
							ul
								each val, i in sounds
									li(data-value=i)= val
				
				#field-date-release-mobile.select.form-control(aria-expanded="false")
					select#date-release(name="date-release")
						each val, i in dateRelease
							option(value=i ? i : '')= val
					.select-field
						.select-field__label Год выхода
						.select-field__value 
						svg.icon-svg-dropdown
							use(xlink:href="#dropdown")
					.select-list
						.select-list-wrap(data-simplebar data-simplebar-auto-hide="false")
							ul
								each val, i in dateRelease
									li(data-value=i)= val

				button#button-reset-filter.button.button_type_border(type="button") 
					span Сбросить

				button#button-submit-filter.button(type="submit") 
					span Найти

		button.button.button_type_with-icon.full-width.button__random-dorama
			svg.icon-svg-random
				use(xlink:href="#random")
			span найти случайную дораму
