#frames-slider.frames-serial.custom-slider-container
	.custom-slider__wrapper
		.custom-slider__slide
			img(src="./images/frames-serial/slide-1.png" data-original="./images/frames-serial/slide-1.png" alt="")
		.custom-slider__slide
			img(src="./images/frames-serial/slide-2.png" data-original="./images/frames-serial/slide-2.png" alt="")
		.custom-slider__slide
			img(src="./images/frames-serial/slide-3.png" data-original="./images/frames-serial/slide-3.png" alt="")

include ../mixins/modal.pug
+modal('modal-gallery', 'gallery')
	.swiper-container
		.swiper-wrapper
			//- сюда слайды через скрипт добавятся
	button.swiper-button.swiper-button-prev
		svg.icon-svg-arrow-prev
			use(xlink:href="#arrow-prev")
	button.swiper-button.swiper-button-next
		svg.icon-svg-arrow-next
			use(xlink:href="#arrow-next")