header#header.header
	.container
		button.menu-toggle
			svg.icon-svg-menu-toggle
				use(xlink:href="#menu-toggle")
		.header-left
			a.header-logo(href="/")
				img(src="./images/logo.svg" alt="Дорамы")
			include ../includes/navigation.pug
		.header-right
			a(href="javascript:void(0);").btn__random
				svg.icon-svg-random
					use(xlink:href="#random")
			a(href="javascript:void(0);").btn__search
				svg.icon-svg-search
					use(xlink:href="#search")
		.header-search-field
			button.header-search__button-close
				svg.icon-svg-close
					use(xlink:href="#close")
			form
				.form-item
					input(type="text")
					button.header-search__button-submit
						svg.icon-svg-search
							use(xlink:href="#search")
		include ../includes/header-search-result.pug
.header-search__backdrop