include ../mixins/search-item-serial.pug
include ../mixins/catalog-item_type_episode.pug


- var serialsTop = [
-		{ 
-			img: './images/search-result/1.png', 
-			title: 'Яркая  жизнь (2019)', 
-			alternativeTitle: 'Прекрасные дни / Бриллиантовое время ',
-			rating: 7.9,
-			genre: 'драмы, мелодрама, фэнтези',
-			description: [
-				'Если вам когда-нибудь вдруг станет любопытно, с чего начинается настоящая любовь — спросите Клэр Дункан. Она не задумываюсь вам ответит: «С первого поцелуя!»',
-				'Дорама «Мир дорам» (русская озвучка) расскажет историю ...'
-			]
-		},
-		{ 
-			img: './images/search-result/2.png', 
-			title: 'Это моя жизнь (2008)', 
-			alternativeTitle: 'Прекрасные дни / Бриллиантовое время ',
-			rating: 7.9,
-			genre: 'драмы, мелодрама, фэнтези',
-			description: [
-				'Если вам когда-нибудь вдруг станет любопытно, с чего начинается настоящая любовь — спросите Клэр Дункан. Она не задумываюсь вам ответит: «С первого поцелуя!»',
-				'Дорама «Мир дорам» (русская озвучка) расскажет историю ...'
-			]
-		}];

- var serialsBottom = [
-		{ img: './images/serials-main/1.jpg', title: 'Моя прекрасная леди', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 20 },
-		{ img: './images/serials-main/2.jpg', title: 'Что скрывают маски', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 13 },
-		{ img: './images/serials-main/3.jpg', title: 'Милашка-лекарь', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 8 }];

.header-search-result
	.header-search-result-wrap(data-simplebar data-simplebar-auto-hide="false")
		.header-search-result-top
			.header-search-result-top-list
				each serial in serialsTop
					+search-item-serial(serial)
		.header-search-result-bottom
			.header-search-result-bottom-list
				.catalog.catalog_3
					each serial in serialsBottom
						+catalog-item_type_episode(serial)
	button.button.header-search__all-result.full-width
		span Посмотреть все результаты