include ../mixins/catalog-item.pug

- var serials_1 = [
-		{ img: './images/serials-main/1.jpg', title: 'Моя прекрасная леди', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 20 },
-		{ img: './images/serials-main/2.jpg', title: 'Это моя жизнь', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 12 },
-		{ img: './images/serials-main/3.jpg', title: 'Милашка-лекарь', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 7 },
-		{ img: './images/serials-main/4.jpg', title: 'Милосердная месть', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 9 },
-		{ img: './images/serials-main/5.jpg', title: 'Ангел со мной рядом', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 16 },
-		{ img: './images/serials-main/6.jpg', title: 'Моя прекрасная леди', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 33 },
-		{ img: './images/serials-main/7.jpg', title: 'Моя прекрасная леди', sounds: ['Softbox'], episodeNumber: 4 },
-		{ img: './images/serials-main/8.jpg', title: 'Горный дух клинка', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 12 },
-		{ img: './images/serials-main/1.jpg', title: 'Что скрывают маски', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 5 },
-		{ img: './images/serials-main/2.jpg', title: 'Легендарный аромат', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 18 },
-		{ img: './images/serials-main/3.jpg', title: 'Таинственный сад', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 11 },
-		{ img: './images/serials-main/4.jpg', title: 'Это моя жизнь', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 10 }];

- var serials_2 = [
-		{ img: './images/serials-main/1.jpg', title: 'Ангел рядом со мной', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 3 },
-		{ img: './images/serials-main/2.jpg', title: 'Моя прекрасная леди', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 21 },
-		{ img: './images/serials-main/3.jpg', title: 'Моя прекрасная леди', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 5 },
-		{ img: './images/serials-main/4.jpg', title: 'Милосердная месть', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 13 },
-		{ img: './images/serials-main/5.jpg', title: 'Таинственный сад', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 23 },
-		{ img: './images/serials-main/6.jpg', title: 'Горный дух клинка', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 14 }];

- var serials_3 = [
-		{ img: './images/serials-main/1.jpg', title: 'Мой ангел рядом со мной', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 2 },
-		{ img: './images/serials-main/2.jpg', title: 'Милашка-лекарь', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 5 },
-		{ img: './images/serials-main/3.jpg', title: 'Милашка-лекарь', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 4 },
-		{ img: './images/serials-main/4.jpg', title: 'Украсть на одну ночь', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 16 },
-		{ img: './images/serials-main/5.jpg', title: 'Ты — это я', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 6 },
-		{ img: './images/serials-main/6.jpg', title: 'Что скрывают маски', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 3 },
-		{ img: './images/serials-main/7.jpg', title: 'Легендарный аромат', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 19 },
-		{ img: './images/serials-main/8.jpg', title: 'Мой мальчик, Маугли', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 12 }];

.last-episodes
	.last-episodes-day
		.last-episodes-day__title 
			span сегодня, 6 февраля
		.catalog
			each serial in serials_1
				+catalog-item(serial)

	.last-episodes-day
		.last-episodes-day__title 
			span вчера, 5 февраля
		.catalog
			each serial in serials_2
				+catalog-item(serial)

	.last-episodes-day
		.last-episodes-day__title 
			span 4 февраля 2020
		.catalog
			each serial in serials_3
				+catalog-item(serial)

	button.button.full-width.last-episodes__button 
		span Больше серий!