#navigation.navigation
	.navigation-wrap
		nav.navigation-links
			ul
				li
					a(href="javascript:void(0);" title="Новые серии")
						span Новые серии
						svg.icon-svg-dropdown
							use(xlink:href="#dropdown")
				li
					a(href="javascript:void(0);" title="Премьеры")
						span Премьеры
						svg.icon-svg-dropdown
							use(xlink:href="#dropdown")
				li
					a(href="javascript:void(0);" title="Каталог дорам")
						span Каталог дорам
						svg.icon-svg-dropdown
							use(xlink:href="#dropdown")
		.navigation-tags
			ul
				li
					a(href="javascript:void(0);") 
						i.flag-south-korea
						| Южная Корея
				li
					a(href="javascript:void(0);")
						i.flag-china
						| Китай
				li
					a(href="javascript:void(0);")
						i.flag-japan
						| Япония
				li
					a(href="javascript:void(0);") 2020 год
				li
					a(href="javascript:void(0);") 2019 год
				li
					a(href="javascript:void(0);") SoftBox
				li
					a(href="javascript:void(0);") русские субтитры
				li
					a(href="javascript:void(0);") Green Tea
				li
					a(href="javascript:void(0);") лакорны
				li
					a(href="javascript:void(0);")
						i.flag-taiwan
						| Тайвань
				li
					a(href="javascript:void(0);") 
						i.flag-south-korea
						| Южная Корея
				li
					a(href="javascript:void(0);")
						i.flag-china
						| Китай
				li
					a(href="javascript:void(0);")
						i.flag-japan
						| Япония
				li
					a(href="javascript:void(0);") 2020 год
				li
					a(href="javascript:void(0);") 2019 год
				li
					a(href="javascript:void(0);") SoftBox
				li
					a(href="javascript:void(0);") русские субтитры
				li
					a(href="javascript:void(0);") Green Tea
				li
					a(href="javascript:void(0);") лакорны
				li
					a(href="javascript:void(0);")
						i.flag-taiwan
						| Тайвань
				li
					a(href="javascript:void(0);") 
						i.flag-south-korea
						| Южная Корея
				li
					a(href="javascript:void(0);")
						i.flag-china
						| Китай
				li
					a(href="javascript:void(0);")
						i.flag-japan
						| Япония
				li
					a(href="javascript:void(0);") 2020 год
				li
					a(href="javascript:void(0);") 2019 год
				li
					a(href="javascript:void(0);") SoftBox
				li
					a(href="javascript:void(0);") русские субтитры
				li
					a(href="javascript:void(0);") Green Tea
				li
					a(href="javascript:void(0);") лакорны
				li
					a(href="javascript:void(0);")
						i.flag-taiwan
						| Тайвань
				li
					a(href="javascript:void(0);") 
						i.flag-south-korea
						| Южная Корея
				li
					a(href="javascript:void(0);")
						i.flag-china
						| Китай
				li
					a(href="javascript:void(0);")
						i.flag-japan
						| Япония
				li
					a(href="javascript:void(0);") 2020 год
				li
					a(href="javascript:void(0);") 2019 год
				li
					a(href="javascript:void(0);") SoftBox
				li
					a(href="javascript:void(0);") русские субтитры
				li
					a(href="javascript:void(0);") Green Tea
				li
					a(href="javascript:void(0);") лакорны
				li
					a(href="javascript:void(0);")
						i.flag-taiwan
						| Тайвань
				li
					a(href="javascript:void(0);") 
						i.flag-south-korea
						| Южная Корея
				li
					a(href="javascript:void(0);") Китай
				li
					a(href="javascript:void(0);")
						i.flag-japan
						| Япония
				li
					a(href="javascript:void(0);") 2020 год
				li
					a(href="javascript:void(0);") 2019 год
				li
					a(href="javascript:void(0);") SoftBox
				li
					a(href="javascript:void(0);") русские субтитры
				li
					a(href="javascript:void(0);") Green Tea
				li
					a(href="javascript:void(0);") лакорны
				li
					a(href="javascript:void(0);")
						i.flag-taiwan
						| Тайвань
	.navigation-button
		button.button.button_type_with-icon.full-width.button__random-dorama
			svg.icon-svg-random
				use(xlink:href="#random")
			span найти случайную дораму