include ../mixins/catalog-item_type_poster.pug

- var popular = [
-		{ serialId: 200, img: './images/serials-novelty-popular/1.jpg', title: 'Горный дух клинка' },
-		{ serialId: 201, img: './images/serials-novelty-popular/2.jpg', title: 'Ангел рядом со мной' },
-		{ serialId: 202, img: './images/serials-novelty-popular/3.jpg', title: 'Что скрывают маски' },
-		{ serialId: 203, img: './images/serials-novelty-popular/4.jpg', title: 'Мой мальчик, Маугли' },
-		{ serialId: 204, img: './images/serials-novelty-popular/5.jpg', title: 'Милосердная месть' },
-		{ serialId: 205, img: './images/serials-novelty-popular/5.jpg', title: 'Милосердная месть' }];

- var premieres = [
-		{ serialId: 300, img: './images/serials-novelty-popular/5.jpg', title: 'Милосердная месть' },
-		{ serialId: 301, img: './images/serials-novelty-popular/4.jpg', title: 'Мой мальчик, Маугли' },
-		{ serialId: 302, img: './images/serials-novelty-popular/1.jpg', title: 'Горный дух клинка' },
-		{ serialId: 303, img: './images/serials-novelty-popular/3.jpg', title: 'Что скрывают маски' },
-		{ serialId: 304, img: './images/serials-novelty-popular/2.jpg', title: 'Ангел рядом со мной' },
-		{ serialId: 305, img: './images/serials-novelty-popular/5.jpg', title: 'Милосердная месть' }];

.novelty
	h2.h1.text-center.novelty__title Горячие новинки 🔥
	.tabs.novelty__tabs(data-custom-toggle)
		.tabs-list(role="tablist")
			.tabs-list__item.tabs-list__item_active(role="tab")
				a(href="#popular") 
					span Популярное 
			.tabs-list__item(role="tab")
				a(href="#premieres") 
					span Премьеры
		.tabs-content
			#popular.tabs-content-wrap.tabs-content-wrap_active
				.catalog-slider.swiper-container
					.swiper-wrapper
						each serial in popular
							.swiper-slide
								+catalog-item_type_poster(serial)
					button.swiper-button.swiper-button-prev
						svg.icon-svg-arrow-prev
							use(xlink:href="#arrow-prev")
					button.swiper-button.swiper-button-next
						svg.icon-svg-arrow-next
							use(xlink:href="#arrow-next")

			#premieres.tabs-content-wrap
				.catalog-slider.swiper-container
					.swiper-wrapper
						each serial in premieres
							.swiper-slide
								+catalog-item_type_poster(serial)
					button.swiper-button.swiper-button-prev
						svg.icon-svg-arrow-prev
							use(xlink:href="#arrow-prev")
					button.swiper-button.swiper-button-next
						svg.icon-svg-arrow-next
							use(xlink:href="#arrow-next")