.tabs.episode-sounds(data-custom-toggle)
  .tabs-list.swiper-container(role="tablist")
    button.swiper-button.swiper-button-prev
      svg.icon-svg-arrow-prev
        use(xlink:href="#arrow-prev")
    button.swiper-button.swiper-button-next
      svg.icon-svg-arrow-next
        use(xlink:href="#arrow-next")
    .tabs-list__slides.swiper-wrapper
      .swiper-slide.tabs-list__item.tabs-list__item_active(role="tab")
        a(href='javascript:void(0);' data-url-player="") 
          span Cardinals
      .swiper-slide.tabs-list__item(role="tab")
        a(href='javascript:void(0);' data-url-player="") 
          span Reborn
      .swiper-slide.tabs-list__item(role="tab")
        a(href='javascript:void(0);' data-url-player="") 
          span Green Tea
      .swiper-slide.tabs-list__item(role="tab")
        a(href='javascript:void(0);' data-url-player="") 
          span ХрамДорам
      .swiper-slide.tabs-list__item(role="tab")
        a(href='javascript:void(0);' data-url-player="") 
          span Reborn
  .tabs-content
    .tabs-content-wrap.tabs-content-wrap_active
      .player
        .player-wrap
          .iframe
        nav.player-nav
          a.player-nav__prev(href="javascript:void(0);")
            svg.icon-svg-chevron-left
              use(xlink:href="#chevron-left")
          a.player-nav__next(href="javascript:void(0);")
            svg.icon-svg-chevron-right
              use(xlink:href="#chevron-right")
