.rating
	.rating-wrap
		.rating__star.rating__star_checked
			a(href="javascript:void(0);")
				svg.icon-svg-star
					use(xlink:href="#star")
		-for (var x = 0; x < 4; x++)
			.rating__star
				a(href="javascript:void(0);")
					svg.icon-svg-star
						use(xlink:href="#star")
