include ../mixins/catalog-item_type_poster.pug

- var serials = [
-		{ serialId: 400, img: './images/serials-novelty-popular/1.jpg', title: 'Горный дух клинка' }];

.related-serials
	h2 Связанные части
	.catalog-slider.swiper-container
		.swiper-wrapper
			each serial in serials
				.swiper-slide
					+catalog-item_type_poster(serial)
		button.swiper-button.swiper-button-prev
			svg.icon-svg-arrow-prev
				use(xlink:href="#arrow-prev")
		button.swiper-button.swiper-button-next
			svg.icon-svg-arrow-next
				use(xlink:href="#arrow-next")