.schedule
	h2.schedule__title Расписание
	.schedule-wrap
		ul.schedule-list(aria-expanded="false")
			li.schedule-item.schedule-item_available
				a(href="javascript:void(0);")
					span.schedule-item__episode 7 серия
					span.schedule-item__date вышла
					svg.icon-svg-link
						use(xlink:href="#link")

			li.schedule-item.schedule-item_available
				a(href="javascript:void(0);")
					span.schedule-item__episode 8 серия
					span.schedule-item__date вышла
					svg.icon-svg-link
						use(xlink:href="#link")

			li.schedule-item
				a(href="javascript:void(0);")
					span.schedule-item__episode 9 серия
					span.schedule-item__date 12 февраля 2020

			li.schedule-item
				a(href="javascript:void(0);")
					span.schedule-item__episode 10 серия
					span.schedule-item__date 29 февраля 2020

			li.schedule-item
				a(href="javascript:void(0);")
					span.schedule-item__episode 11 серия
					span.schedule-item__date 6 марта 2020

			li.schedule-item
				a(href="javascript:void(0);")
					span.schedule-item__episode 12 серия
					span.schedule-item__date 13 марта 2020
		
		.schedule-show-more
			a.schedule__show-more(href="javascript:void(0);")
				span Полное расписание
				svg.icon-svg-dropdown
					use(xlink:href="#dropdown")