include ../mixins/catalog-item_type_poster.pug

- var serials = [
-		{ serialId: 500, img: './images/serials-novelty-popular/1.jpg', title: 'Горный дух клинка' },
-		{ serialId: 501, img: './images/serials-novelty-popular/2.jpg', title: 'Ангел рядом со мной' },
-		{ serialId: 502, img: './images/serials-novelty-popular/3.jpg', title: 'Что скрывают маски' },
-		{ serialId: 503, img: './images/serials-novelty-popular/4.jpg', title: 'Мой мальчик, Маугли' },
-		{ serialId: 504, img: './images/serials-novelty-popular/5.jpg', title: 'Милосердная месть' },
-		{ serialId: 505, img: './images/serials-novelty-popular/5.jpg', title: 'Милосердная месть' }];

.similar-serials
	h2 Похожие дорамы
	.catalog-slider.swiper-container
		.swiper-wrapper
			each serial in serials
				.swiper-slide
					+catalog-item_type_poster(serial)
		button.swiper-button.swiper-button-prev
			svg.icon-svg-arrow-prev
				use(xlink:href="#arrow-prev")
		button.swiper-button.swiper-button-next
			svg.icon-svg-arrow-next
				use(xlink:href="#arrow-next")