.about-serial {
	.about-serial-header {
		@include flex;
		@include flex-direction;
		min-height: 81px;
		position: relative;
		padding-right: 135px;
		padding-bottom: 20px;
		margin-top: 40px;
		margin-bottom: 25px;

		@include mq("xl") {
			min-height: 70px;
		}

		@include mq("md") {
			padding-right: 0;
			margin-top: 19px;
			margin-bottom: 11px;
		}

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: $gradient;
			opacity: .4;
			content: "";

			@include mq("md") {
				content: none;
			}
		}

		.about-serial-header__title {
			margin-bottom: 2px;
			margin-top: 0;

			@include mq("md") {
				order: 2;
				margin-bottom: 8px;
			}
		}

		.about-serial-header__subtitle {
			@include font-light-18;
			line-height: 1.4;
			margin: 0;
			color: var(--color-sand);

			@include mq("md") {
				order: 3;
				line-height: 1.15;
				font-size: 14px;
			}
		}

		.about-serial-rating {
			position: absolute;
			right: -2px;
    	top: 8px;
			text-align: right;

			.rating-vote-count {
				font-size: 14px;
				line-height: 1.5;
				margin-top: 8px;
				display: inline-block;
				opacity: .5;
				font-weight: 300;
			}

			.rating__star {
				a {
					padding: 2px;
				}
	
				svg {
					width: 24px;
					height: 24px;
				}
			} 

			@include mq("xl") {
				top: 0;
			}

			@include mq("md") {
				@include flex;
				@include justify-content(space-between);
				@include align-items;
				margin-bottom: 19px;
				order: 1;
				position: relative;
				text-align: left;
				padding: 11px;
				height: 40px;

				.ios & {
					margin-bottom: 22px;
				}

				&::before {
					@include rounded;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-image: $gradient;
					content: "";
					opacity: 0.3;
				}

				.rating-vote-count {
					margin-top: 0;
					font-size: 12px;
					position: relative;
					padding-left: 17px;
					padding-right: 5px;
					
					&::before {
						content: "";
						width: 2px;
						position: absolute;
						left: 0;
						top: -4px;
						bottom: -4px;
						background-color: var(--color-black);
					}
				}

				.rating__star {		
					svg {
						width: 20px;
						height: 20px;
					}
				} 
			}
		}
	}

	.about-serial-body {
		@include flex;
		padding-bottom: 38px;
		margin-bottom: 38px;
		position: relative;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: $gradient;
			opacity: .4;
			content: "";
		}

		@include mq("md") {
			@include flex-direction;
			padding-bottom: 0;
			margin-bottom: 28px;

			&::after {
				display: none;
			}
		}

		.about-serial-left {
			@include flex-col(256px);
			position: relative;

			@include mq("md") {
				display: none;
			}
		}

		.about-serial-poster {
			@include img-container(141%);
			overflow: visible;
			margin-bottom: 15px;
			border-radius: 4px;
			box-shadow: 0px 5px 26px rgba(240, 125, 128, 0.27);

			img {
				@include rounded(4px);
			}
		}

		.about-serial__status {
			position: absolute;
			bottom: -14px;
			left: 50%;
			transform: translateX(-50%);
			display: inline-block;
			background-color: var(--color-green);
			color: var(--color-black);
			width: 130px;
			text-align: center;
			padding: 6px 15px;
			border-radius: 20px;
			font-weight: 500;
			font-size: 18px;
			line-height: 1;

			&.completed {
				background-color: var(--color-light-pink);
			}

			@include mq("md") {
				bottom: -9px;
				font-size: 12px;
				font-weight: 500;
				width: 75px;
				padding: 2px 10px 5px 10px;
			}
		}

		.about-serial-right {
			margin: 0 73px 0 50px;
			flex-grow: 1;

			@include mq("lg") {
				margin: 0 0 0 40px;
			}

			@include mq("md") {
				margin: 2px 0 0 0;
			}
		}

		.about-serial-characteristics {
			padding: 0;
			list-style: none;
			margin: 0 -20px 27px;
			column-count: 3;

			li {
				margin: 0 20px 23px;
				-webkit-column-break-inside: avoid;
				page-break-inside: avoid;
				break-inside: avoid;

				span {
					display: block;
					color: var(--color-text);

					&:first-child {
						color: var(--color-sand);
						margin-bottom: 2px;
						line-height: 1;
					}

					&:last-child {
						line-height: 1.33;
					}
				}
			}

			@include mq("lg") {
				margin: 0 -5px 27px;

				li {
					margin: 0 5px 23px;
				}
			}

			@include mq("md") {
				columns: 1;
				margin-bottom: 4px;

				li {
					@include flex;
					margin-bottom: 9px;

					&.mobile-hidden {
						display: none;
					}
	
					span {

						&:first-child {
							font-size: 14px;
							margin-bottom: 0;
							line-height: 19px;
						}

						&:last-child {
							font-weight: 400;
							font-size: 16px;
							margin-left: 13px;
							line-height: 19px;
						}
					}
				}
			}
		}

		.about-serial-mobile {
			display: none;

			@include mq("md") {
				@include flex;

				.about-serial-poster-wrap {
					@include flex-col(157px);
				}

				.about-serial-info {
					flex-grow: 1;
					margin-left: 22px;
					margin-top: 3px;
				}
				
				.about-serial-characteristics {
					margin-bottom: 0;

					li {
						margin-bottom: 15px;
						display: block;

						&:last-child {
							margin-bottom: 0;
						}

						span {
							&:first-child {
								margin-bottom: 6px;
								line-height: 1;
							}
	
							&:last-child {
								margin-left: 0;
								line-height: 1;
							}
						}
					}
				}
			}
		}

		.buttons-line {
			@include flex;

			.button {
				width: 100%;
				max-width: 222px;

				&:not(:last-child) {
					margin-right: 27px;
				}

				@include mq("md") {
					max-width: 100%;

					&:not(:last-child) {
						margin-right: 0;
					}

					&.first-episode-link {
						display: none;
					}
				}
			}
		}
	}
}