.breadcrumbs {
	padding: 0 0 6px 0 ;
	margin-bottom: 19px;
	position: relative;

	&::before {
		position: absolute;
		bottom: 0;
		background: linear-gradient(65deg, $gradient-from, $gradient-to);
		opacity: 0.4;
		height: 1px;
		width: 100%;
		display: inline-block;
		content: "";
	}

	@include mq("md") {
		padding-bottom: 2px;
		margin-bottom: 18px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		@include mq("md") {
			white-space: nowrap;
    	overflow-x: scroll;
		}

		li {
			position: relative;
			display: inline;

			span {
				font-size: 16px;
				color: var(--color-text);
				font-weight: 300;
			}

			a {
				color: var(--color-orange);
				font-size: 16px;
				font-weight: 300;
			}

			&:not(:last-child) {
				padding-right: 2px;

				&::after {
					margin-left: 6px;
					content: "»";
					font-size: 15px;
					color: var(--color-orange);
				}
			}

			&:nth-last-child(-n+2) {
				&::after {
					color: var(--color-text);
				}
			}
		}
	}
}