.button {
	@include transition-active;
	@include flex-center;
	@include rounded;
	cursor: pointer;
	padding: 9px 25px;
	border: none;
	outline: none;
	user-select: none;
	position: relative;
	font-family: $blogger-font;
	line-height: 1;
	font-weight: 500;
	color: var(--color-text);
	background-color: transparent;
	min-height: 40px;

	&::before {
		@include transition-active;
		@include rounded;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: $gradient;
		content: "";
	}

	&::after {
		@include transition-active;
		@include rounded;
		position: absolute;
		top: 1px;
		right: 1px;
		bottom: 1px;
		left: 1px;
		background-color: var(--color-black);
		content: "";
		opacity: 0;
	}

	span {
		z-index: 1;
	}

	&:disabled, &.button_disabled {
		pointer-events: none;
		cursor: default;
		opacity: .5;
	}

	@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
		&::after {
			@include transition-hover;
		}

		&:hover::after {
			opacity: 1;
		}
	}

	&:active::after {
		opacity: 1;
	}

	// кнопки с границами
	&.button_type_border {
		&::after {
			opacity: 1;
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&:hover::after {
				opacity: 0;
			}
		}

		&:active::after {
			opacity: 0;
		}
	}

	// кнопка с иконкой
	&.button_type_with-icon {
		color: var(--color-orange);

		&::before {
			opacity: .4;
		}

		.icon, svg {
			margin-right: 11px;
			z-index: 1;
		}

		// фикс отступа для ipad
		.ipad & span {
			position: relative;
			top: 2px;
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&, &::before {
				@include transition-hover;
			}

			&:hover {
				color: var(--color-text);

				&::after {
					background-color: transparent;
				}

				&::before {
					opacity: .7;
				}
			}
		}

		&:active {
			color: var(--color-text);

				&::after {
					background-color: transparent;
				}

				&::before {
					opacity: .7;
				}
		}
	}
}