.catalog {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 34px 20px;
	margin: 16px 0;
	list-style: none;
	padding: 0;

	@include mq("md") {
		grid-gap: 15px;
		grid-template-columns: repeat(3, 1fr);
	}

	@include mq("sm") {
		grid-template-columns: repeat(2, 1fr);
	}

	&.catalog_3 {
		grid-template-columns: repeat(3, 1fr);
		
		@include mq("md") {
			grid-gap: 20px 12px;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&.catalog_5 {
		grid-template-columns: repeat(5, 1fr);

		@include mq("lg") {
			grid-template-columns: repeat(4, 1fr);
		}
	
		@include mq("md") {
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 22px 15px;
		}
	
		@include mq("sm") {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	// general styles for catalog elements
	&-item {	
		position: relative;
		cursor: pointer;

		& > a {
			position: absolute;
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	
		&__img {
			@include rounded;
			@include transition-hover;
			@include img-container(59%);
			margin-bottom: 6px;
			position: relative;
			-webkit-mask-image: -webkit-radial-gradient(white, black);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;

			&::after {
				@include rounded;
				@include transition-hover;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				content: "";
				border: 2px solid var(--color-pink);
				opacity: 0;
				z-index: 1;
			}

			img {
				@include rounded;
				@include transition-hover;
			}

			.catalog-item__play {
				@include transition-hover;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 42px;
				height: 42px;
				opacity: 0;
			}

			@include mq("md") {
				font-size: 13px;
				margin-bottom: 5px;
			}
		}

		&__sounds {
			height: 25px;
			overflow: hidden;

			@include mq("md") {
				height: 20px;
			}
		}

		&__icon-info {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 30px;
			height: 30px;
			padding: 4px;

			&.popover-opened {
				svg {
					--color: url(#linear-gradient-color2);
					--color-bg: var(--color-text);
				}
			}
		}

		&__title {
			@include font-medium-18;
			margin-top: 4px;
			margin-bottom: -2px;
			color: var(--color-text);

			@include mq("md") {
				margin-top: 4px;
				font-size: 17px;
				line-height: 16px;
			}
		}

		&__episode-number {
			@include transition-hover;
			@include font-light-16;

			@include mq("md") {
				font-size: 13px;
			}
		}

		&:hover {
			.catalog-item__img {
				border-color: var(--color-orange);

				&::after {
					opacity: 1;
				}

				img {
					width: 110%;
					height: 110%;
					margin: -5%;
				}

				.catalog-item__play {
					opacity: 1;
				}
			}

			.catalog-item__episode-number {
				color: var(--color-pink);
			}
		}

		// styles episodes in serial list
		&.catalog-item_type_episode {
			.catalog-item__episode-number {
				font-size: 18px;
			}

			@include mq("md") {
				.catalog-item__img {
					margin-bottom: 0;
				}

				.catalog-item__episode-number {
					font-size: 13px;
				}
			}
		}

		// styles little size episodes in serial list
		&.catalog-item_type_little-episode {
			.catalog-item__episode-number {
				@include flex;
				@include align-items;
			}

			&.active {
				cursor: default;

				.catalog-item__img {
					border-color: var(--color-orange);
	
					&::after {
						opacity: 1;
					}
	
					img {
						width: 110%;
						height: 110%;
						margin: -5%;
						opacity: .5;
					}
				}

				.catalog-item__episode-number {
					color: var(--color-pink);
					font-weight: 500;

					svg {
						margin: -1px 7px 0 -2px;
						height: 15px;
						width: 15px;
						--color: var(--color-pink);
					}
				}
			}
		}

		// styles for vertical poster catalog elements 
		&.catalog-item_type_poster {
			.catalog-item__img {
				@include img-container(140%);
				@include rounded(4px);
				border: none;
				margin-bottom: 11px;

				img {
					@include rounded(4px);
				}

				&::after {
					content: none;
				}
				
				@include mq("md") {
					margin-bottom: 4px;
				}
			}

			.catalog-item__title {
				@include transition-hover;
				display: inline;
				color: var(--color-orange);
				border-bottom: 1px solid transparent;
				padding-bottom: 1px;

				@include mq("md") {
					font-size: 14px;
				}
			}

			&:hover {
				.catalog-item__img {
					border-color: transparent;

					img {
						width: 110%;
						height: 110%;
						margin: -5%;
					}
				}

				.catalog-item__title {
					color: var(--color-pink);
					border-bottom-color: var(--color-dark-pink);
				}
			}
		}
	}
}