.custom-slider {
	&-container {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow: hidden;

		@include mq("md") {
			margin-right: -12px;
		}
	}

	&__wrapper {
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__slide {
		@include rounded(4px);
		@include transition-hover;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		perspective: 500px;
		text-align: center;
		transform: translate3d(0, 0, 0);
		z-index: -1;
		will-change: transform;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
			pointer-events: none;
		}

		&-prev,
		&-next {
			z-index: 1;
		}

		&-active {
			z-index: 2;
		}
	}

	&__button {
		@include slider-button;
		width: 48px;
		height: 48px;
		top: 51.5%;
		transform: translateY(0);

		&-prev {
			left: 6.5%;
		}
	
		&-next {
			right: 9.5%;
		}

		@include mq("md") {
			height: 30px;
			width: 30px;
			top: 50%;
			transform: translateY(-50%);

			&-prev {
				left: 12px;
			}

			&-next {
				right: 12px;
			}
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&::before {
				@include transition-hover;
			}
	
			&:hover {
				svg {
					--color: var(--color-text);
				}
			}
		}
	}
}