.filter {
	margin-top: 13px;
	margin-bottom: 20px;

	.filter-bottom-block {
		display: grid;
		grid-gap: 25px 15px;
		grid-auto-rows: auto;
		grid-template-columns: 1fr 1fr 1fr 1fr 0.9fr 0.9fr;
		grid-template-areas: "country status genre sound reset submit";
		margin-top: 24px;

		@include mq("xl") {
			grid-gap: 12px 12px;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-areas:
				"country status genre sound" 
				"reset reset submit submit";
		}

		@include mq("md") {
			grid-template-columns: 1fr 1fr;
			grid-template-areas: 
				"country status" 
				"genre sound" 
				"date-mobile date-mobile" 
				"reset submit";

			#field-date-release-mobile {
				display: inline-block;
			}
		}
	}

	@include mq("md") {
		margin-top: 15px;
		margin-bottom: 20px;

		.filter-top-block {
			display: none;
		}

		.filter-bottom-block {
			margin-top: 0;
		}

		.button {
			min-height: 40px;
		}
	}

	#field-country {
		grid-area: country;
	}

	#field-status {
		grid-area: status;
	}

	#field-genre {
		grid-area: genre;
	}

	#field-sound {
		grid-area: sound;
	}

	#field-date-release-mobile {
		display: none;
		grid-area: date-mobile;
	}

	#button-reset-filter {
		grid-area: reset;
	}

	#button-submit-filter {
		grid-area: submit;
	}

	.button__random-dorama {
		margin-top: 36px;
		font-size: 18px;

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			&:hover {
				svg {
					--color: url(#linear-gradient-color2);
					--color-bg: var(--color-text);
				}
			}
		}

		&:active {
			svg {
				--color: url(#linear-gradient-color2);
				--color-bg: var(--color-text);
			}
		}

		@include mq("md") {
			margin-top: 20px;
			font-size: 16px;

			svg {
				width: 20px;
				height: 20px;
				margin-right: 6px;
			}
		}
	}
}