.footer {
	background-color: var(--color-gray);
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 18px;
	line-height: 1;

	.container {
		@include flex;
		@include justify-content(space-between);
		@include align-items;
	}

	a {
		font-size: inherit;
	}

	@include mq("md") {
		.container {
			@include flex-direction;
		}
	
		.footer__contacts {
			display: inline-block;
			margin-top: 20px;
			font-size: 14px;
		}
	}
}