.header-search-field {
	@include flex;
	@include align-items;
	@include justify-content(flex-end);
	pointer-events: none;
	width: 32px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 36px;
	background-color: var(--color-gray);
	z-index: 2;
	opacity: 0;
	transition: 0.3s;

	// fix из за увеличение размеров лого, что бы перекрыть его сверху
	&:before,
	&:after {
		content: "";
		background-color: var(--color-gray);
		position: absolute;
		left: 0;
		right: 0;
		height: 10px;
	}

	&:before {
		top: -10px;
	}

	&:after {
		bottom: -10px;
	}

	@include mq("xl") {
		right: 14px;
	}

	.header-search__button-close {
		border: none;
		height: 22px;
		width: 22px;
		background-color: transparent;
		padding: 0;
		margin-right: 21px;
		cursor: pointer;

		@include mq("xl") {
			margin-right: 10px;
		}

		&:hover {
			svg {
				--color: var(--color-text)
			}
		}
	}

	form {
		width: 100%;
	
		.form-item {
			position: relative;

			input {
				width: 100%;
				min-height: 32px;
				font-size: 16px;
				padding: 6px 11px;
			}

			button {
				@include rounded;
				cursor: pointer;
				position: absolute;
				top: 0;
				right: 0;
				border: none;
				width: 32px;
				height: 32px;
				padding: 0;
				background: var(--color-text);

				// беды ipad, iphone - 32px у input больше , чем 32px у кнопки на 1 px
				.ipad &, .iphone & {
					height: 33px;
				}

				&::before {
					@include transition-hover;
					@include rounded;
					z-index: 0;
					background: $gradient;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: "";
				}

				svg {
					--color: var(--color-text);
					--color-flare: var(--color-text);
					width: 20px;
					height: 20px;
					position: relative;
    			top: 2px;
				}

				&:hover {
					&::before {
						opacity: 0;
					}

					svg {
						--color: url(#linear-gradient-color2);
						--color-flare: url(#linear-gradient-color2);
					}
				}
			}
		}
	}
}

.header-search-result {
	@include rounded-bottom;
	display: none;
	padding: 6px 0 0 0;
	background-color: var(--color-gray);
	position: absolute;
	top: calc(100% + 14px);
	right: 13px;
	width: calc(100% - 247px);
	z-index: 100;
	
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 23px;
		right: 23px;
		height: 1px;
		opacity: .4;
		background-image: $gradient;

		@include mq("xl") {
			left: 14px;
			right: 14px;
		}
	}

	.header-search-result-wrap {
		overflow-y: auto;
		margin-bottom: 10px;
	}

	.header-search-result-top {
		padding: 14px 23px 30px 23px;

		.search-item {
			max-width: 100%;
			padding-right: 80px;
			
			&:not(:last-child) {
				margin-bottom: 32px;
			}

			&-img {
				@include flex-col(136px);
			}

			&-text {
				padding-left: 24px;
			}

			&-description {
				margin-top: 16px;
			}
		}

		@include mq("xl") {
			padding: 15px 14px;
		}

		@include mq("md") {
			.search-item {
				padding-right: 0;
				
				&:not(:last-child) {
					margin-bottom: 15px;
				}

				&-img {
					@include flex-col(75px);
				}

				&-text {
					padding-left: 11px;
				}

				&__alternative-title {
					margin-top: 0;
				}

				&__rating {
					span:first-child {
						font-weight: 300;
					}
				}

				&__genre {
					margin-top: 6px;

					span:first-child {
						font-weight: 300;
					}
				}
			}
		}
	}

	.header-search-result-bottom {
		position: relative;
		padding: 30px 23px 25px 23px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 23px;
			right: 23px;
			height: 1px;
			opacity: .4;
			background-image: $gradient;
		}	

		.catalog {
			margin: 0;
			grid-gap: 15px 12px;
		}

		@include mq("xl") {
			padding: 16px 14px 15px 14px;

			&::before {
				left: 14px;
				right: 14px;
			}	
		}
	}

	.header-search__all-result:hover::after {
		background-color: var(--color-gray) !important;
	}

	@include mq("xl") {
		width: 100%;
		top: calc(100% + 11px);
		right: 0;
		padding-bottom: 56px;

		.header-search-result-wrap {
			margin-bottom: 0;
		}

		.header-search__all-result {
			position: absolute;
			min-height: 40px;
			left: 14px;
			bottom: 8px;
			max-width: calc(100% - 28px);
		}
	}

	@include mq("md") {
		@include rounded(0);
		padding-top: 3px;
		padding-bottom: 0;

		.header-search-result-bottom-list {
			padding-bottom: 40px;
		}
	}
}

.header-search__backdrop {
	@include transition-hover;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--color-black);
	opacity: 0;
	z-index: 50;
	pointer-events: none;
}

.search-opened {
	.header-nav {
		opacity: 0;
	}

	.header-search-field {
		pointer-events: auto;
		width: calc(100% - 291px);

		@include mq("xl") {
			width: calc(100% - 26px);
		}
	}

	& + .header-search__backdrop {
		pointer-events: auto;
		opacity: .8;
	}

	.header-search-result {
		display: block;
	}
}