.header {
	padding-top: 14px;
	padding-bottom: 14px;
	background-color: var(--color-gray);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 500;

	.container {
		@include flex;
		@include align-items;
		@include justify-content(space-between);
	}

	.menu-toggle {
		display: none;
		background-color: transparent;
		border: none;
		padding: 0;

		&:hover {
			svg {
				--color: var(--color-sand);
			}
		}
	}

	.header-left {
		@include flex;
		@include align-items;
		@include justify-content(space-between);

		.header-logo {
			@include flex;
			@include transition-hover;
			margin-right: 18px;
			max-width: 196px;

			&:hover {
				transform: scale(1.1);
			}

			img {
				width: 100%;
			}
		}
	}

	@include mq('xl', 'min') {
		.navigation {
			display: block !important;
		}

		.navigation-tags {
			display: none;
		}

		.navigation-button {
			display: none;
		}
	}

	nav.navigation-links {
		@include transition-hover;
		margin-top: -2px;

		ul {
			@include flex;
			@include align-items;
			margin: 0 -22px;
			list-style: none;

			li {
				margin: 0 11px;

				a {
					@include transition-hover;
					padding: 5px 10px;
					color: var(--color-orange);
					font-weight: 300;
					font-size: 20px;
					line-height: 22px;
					text-decoration: none;
					text-align: center;
					display: inline-block;
					text-transform: lowercase;

					svg {
						display: none;
					}

					@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
						@include mq('xl', 'min') {
							&:hover {
								transform: scale(1.1);
							}
						}
					}
				}
			}
		}
	}
	
	.header-right {
		@include flex;
		position: relative;
		margin-right: 10px;

		a {
			@include flex;
			@include transition-hover;
			margin-left: 11px;
			margin-right: 11px;
			text-decoration: none;

			svg {
				width: 24px;
				height: 24px;
				--color-bg: transparent;
			}

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				&:hover {
					opacity: 0.75;
				}
			}

			&:active {
				opacity: 0.75;
			}
		}
		
		.btn__random {
			svg {
				--color: url(#linear-gradient-color2);
			}
		}
	}
}

@import './mobile-header';