.form-item {
	&:not(:last-child) {
		margin-bottom: 25px;
	}

	input[type="text"],
	input[type="search"],
	input[type="number"],
	input[type="date"],
	input[type="time"],
	input[type="email"],
	input[type="tel"] {
		@include rounded;
		@include transition-hover;
		min-height: 40px;
		padding: 10px 11px;
		font-size: 16px;
		color: var(--color-text);
		border: 1px solid #e79899b3;
		outline: none;
		background-color: transparent;

		&:focus {
			border-color: var(--color-orange);
		}
	}

	label {
		font-size: 14px;
		line-height: 15px;
		color: var(--color-orange);
		margin-bottom: 6px;
		display: inline-block;
	}

	&_type_range {
		width: calc(100% - 16px);
		margin: 0 auto;

		label {
			margin: 0 -5px 14px -5px;
		}

		.noUi-target {
			@include rounded(4px);
			border: none;
			background: transparent;
			box-shadow: none;
			height: 35px;
		}

		.noUi-base {
			pointer-events: none;
		}
		
		.noUi-connects {
			@include rounded(4px);
			height: 4px;
			background: transparent;
			overflow: visible;

			&::before {
				content: "";
				@include rounded(4px);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: var(--color-pink);
				opacity: 0.4;
			}

			.noUi-connect {
				@include rounded(4px);
				top: -1px;
				bottom: -1px;
				height: auto;
				background-image: $gradient;
			}
		}

		.noUi-handle {
			@include rounded;
			cursor: pointer;
			outline: none;
			width: 16px;
			height: 16px;
			right: -8px;
			background: $gradient;
			border: 2px solid var(--color-orange);
			pointer-events: auto;
			box-shadow: 3px 0px 4px rgba(138, 52, 128, 0.26);

			&::before, &::after {
				content: none;
			}

			.noUi-touch-area {
				@include rounded;
				@include transition-hover;
				background: transparent;

				&:hover {
					background: var(--color-text);
				}
			}

			&.noUi-active {
				.noUi-touch-area {
					background: var(--color-text);
				}
			}
		}

		.noUi-pips {
			top: 4px;
			height: 30px;
			padding: 10px 0 0 0;
		}

		.noUi-marker {
			display: none;
		}

		.noUi-value {
			font-size: 12px;
			line-height: 13px;
			color: var(--color-orange);
			opacity: 0.7;
			text-align: center;
			display: inline-block;

			&::before {
				display: block;
				content: '0000';
				font-weight: 500;
				height: 0;
				overflow: hidden;
				visibility: hidden;
			}
		}

		.noUi-tooltip {
			bottom: auto;
			top: calc(100% + 8px);
			background-color: transparent;
			font-size: 12px;
			line-height: 13px;
			color: var(--color-orange);
			font-weight: 500;
			border: none;
		}
	}


}