.animateMenuOpen {
	animation-name: slideInRight;

	.mobile & {
		animation-name: fadeInDown;
	}
}

.animateMenuClose {
	animation-name: slideOutLeft;

	.mobile & {
		animation-name: fadeOutUp;
	}
}

@include mq("xl") {
	.header {
		padding-top: 11px;
		padding-bottom: 11px;

		.menu-toggle {
			@include flex;
		}

		.header-left {
			.header-logo {
				max-width: 230px;
				margin-right: 0;
			}
		}
		
		.header-right {
			margin: 0;
	
			.btn__random {
				display: none;
			}
	
			.btn__search {
				margin: 0;
				position: relative;
	
				svg {
					width: 26px;
					height: 26px;
				}
			}
		}
		
		.navigation {
			background-color: var(--color-black);
			position: fixed;
			display: none;
			top: 64px;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 100;
			padding-top: 10px;
			padding-bottom: 16px;
			max-width: 510px;
		
			.mobile & {
				opacity: 0;
				max-width: 100%;
			}
		
			.navigation-wrap {
				padding-left: 14px;
				padding-right: 14px;
				height: calc(46% - 12px);
				
				.mobile & {
					height: calc(100% - 70px);
				}
			}
		
			.navigation-links {
		
				ul {
					display: block;
					padding: 0;
					margin: 0;
					list-style: none;
		
					li {
						width: 100%;
						margin: 0;
		
						&:not(:first-of-type) {
							margin-top: 15px;
						}
		
						a {
							@include flex;
							@include justify-content(space-between);
							@include align-items;
							padding: 3px 0;
							position: relative;
							text-decoration: none;
							color: var(--color-orange);
							text-transform: none;

							&::before {
								content: none;
							}

							&::after {
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								height: 1px;
								content: "";
								background: $gradient;
								opacity: .5;
							}
		
							span {
								font-size: 20px;
								font-weight: 500;
							}
		
							svg {
								display: inline-block;
								transform: rotate(-90deg);
								width: 35px;
								height: 35px;
								position: relative;
								top: 2px;
								left: 9px;
							}
		
							&:hover {
								color: var(--color-pink);
		
								svg {
									--color-top: var(--color-pink);
								}
							}
						}
					}
				}
			}
		
			.navigation-tags {
				display: block;
				margin-top: 20px;
				padding-bottom: 16px;
		
				ul {
					@include flex;
					@include flex-wrap;
					margin: -16px -6px 0 -6px;
					padding: 0;
					list-style: none;
		
					li {
						flex-grow: 1;
						margin: 16px 6px 0 6px;
		
						a {
							@include flex-center;
							@include transition-hover;
							position: relative;
							font-weight: 500;
							font-size: 16px;
							line-height: 1;
							color: var(--color-orange);
							padding: 11px 25px;
							text-decoration: none;
		
							&::before {
								@include rounded;
								@include transition-hover;
								position: absolute;
								top: 0;
								bottom: 0;
								left: 0;
								right: 0;
								content: "";
								opacity: .16;
								background-image: $gradient;
								z-index: -1;
							}
		
							[class*="flag-"] {
								margin-right: 5px;
							}
		
							&:hover {
								color: var(--color-text);
		
								&::before {
									opacity: 0.8;
								}
							}
						}
					}
				}
			}
		
			.navigation-button {
				display: block;
				background-color: var(--color-black);
				position: absolute;
				padding-top: 16px;
				top: 46%;
				left: 14px;
				right: 14px;
		
				.mobile & {
					bottom: 14px;
					top: auto;
				}
		
				&::before {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					height: 1px;
					content: "";
					background: $gradient;
					opacity: .5;
				}
		
				button {
					font-size: 14px;
					min-height: 40px;
		
					svg {
						width: 18px;
						height: 18px;
					}
				}
			}
		}
	}
}

@include mq("sm") {
	.header {
		.header-left {
			.header-logo {
				max-width: 176px;
			}
		}

		.navigation {
			top: 54px;
		}
	}
}