.modal {
	display: none;
}

.modal-container {
	&.modal_type_iframe {
		display: block;

		.modal-content {
			padding-top: 56.2%;
			position: relative;
			margin-top: -5px;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	&.modal_type_gallery {
		.swiper-slide {
			padding-top: 56.52%;
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden;
			background-position: center;
		}

		.swiper-button {
			width: 50px;
			height: 50px;

			&-prev {
				left: -90px;
			}
		
			&-next {
				right: -90px;
			}

			@include mq("md") {
				display: none;
			}
		}
	}
}

.swal2 {
	&-container {
		padding: 0;
	}

	&-popup {
		background-color: transparent;
		padding: 0;
		@include rounded(0);
		width: 100%;
		max-width: 810px;

		&.swal2-gallery {
			width: 75vw;
			max-width: 1100px;

			@include mq("md") {
				width: 100%;
			}
		}
	}

	&-header {
		position: relative;
	}

	&-container.swal2-backdrop-show {
		background: rgba(49, 48, 65, 0.9);
	}
	
	&-close {
		@include transition-hover;
		width: 32px;
		height: 32px;
		top: -63px;
    right: -82px;
		outline: none;

		svg {
			width: inherit;
			height: inherit;
		}

		@include mq("md") {
			width: 20px;
			height: 20px;
			top: -45px;
			right: 14px;

			svg {
				width: 20px;
				height: 20px;
			}
		}

		&:hover {
			svg {
				--color: var(--color-pink);
			}
		}
	}
}