.player {
	margin-top: 16px;
	margin-bottom: 16px;
	position: relative;
	padding-top: 41%;
	background: #000000;

	.player-nav {
		a {
			@include flex-center;
			position: absolute;
			top: 50%;
			margin-top: -20px;
			width: 40px;
			height: 40px;
			background: #222;

			&.player-nav__prev {
				left: 20px;
			}

			&.player-nav__next {
				right: 20px;
			}

			svg {
				width: 12px;
				height: 12px;
			}
		}
	}

	@include mq("md") {
		margin-bottom: 0;

		.player-nav {
			display: none;
		}
	}
}