.rating {
	@include flex;
	@include align-items;

	&-wrap {
		@include flex;
		margin: -1px;
	}

	&__star {
		a {
			@include transition-active;
			@include flex-center;
			padding: 1px;
			text-decoration: none !important;
		}

		&_hover,
		&_checked {
			a {
				.icon-svg-star {
					--color-border: transparent;
					--color-fill: var(--color-orange);
				}
			}
		}
	}
}