.schedule {
	margin-top: 33px;
	margin-bottom: 40px;
	width: 100%;
	max-width: 563px;

	@include mq("md") {
		max-width: 100%;
		margin-top: 23px;
		margin-bottom: 19px;
	}

	.schedule__title {
		margin-bottom: 9px;

		@include mq("md") {
			margin-bottom: 12px;
		}
	}

	.schedule-list {
		padding: 0;
		margin: 0;
		list-style: none;
		position: relative;
		padding-bottom: 3px;

		&::after {
			position: absolute; 
			background: $gradient;
			opacity: 0.4;
			content: "";
			width: 100%;
			height: 1px;
			top: 0;
			left: 0;
		}

		&[aria-expanded="false"] {
			.schedule-item:nth-child(n + 6) {
				display: none;
			}
		}
		
		&[aria-expanded="true"] {
			& + .schedule-show-more {
				svg {
					@include rotate(180deg);
				}
			}
		}
	}

	.schedule-item {
		a {
			@include flex;
			@include align-items;
			position: relative;
			padding: 16px 0;
			cursor: default;
			color: var(--colot-text);
			text-decoration: none !important;
			
			&::after {
				position: absolute; 
				background: $gradient;
				opacity: 0.4;
				content: "";
				width: 100%;
				height: 1px;
				bottom: 0;
				left: 0;
			}
		}


		&.schedule-item_available {
			a {
				@include transition-hover;
				color: var(--color-orange);
				cursor: pointer;
		
				&:hover {
					color: var(--color-pink);

					svg {
						--color: var(--color-pink);
					}
				}
			}

			.schedule-item__date {
				padding-right: 20px;
			}
		}

		&__episode {
			display: inline-block;
			flex-grow: 1;
			font-size: 20px;
			line-height: 1;
		}

		&__date {
			@include flex-col(193px);
			display: inline-block;
			font-size: 18px;
			line-height: 1;
		}

		svg {
			display: inline-block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		@include mq("md") {
			a {
				padding: 12px 0;
			}

			&__episode {
				font-size: 16px;
			}
	
			&__date {
				text-align: right;
				font-size: 14px;
			}
		}
	}

	.schedule-show-more {
		@include mq("md") {
			margin-top: 10px;
			text-align: center;
		}
	}

	.schedule__show-more {
		@include transition-active;
		font-weight: 500;
		font-size: 18px;
		color: var(--color-orange);
		text-decoration: none !important;

		svg {
			margin-bottom: -7px;
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			@include transition-hover;

			&:hover {
				color: var(--color-pink);
				
				svg {
					--color-top: var(--color-pink);
				}
			}
		}

		&:active {
			color: var(--color-pink);
				
			svg {
				--color-top: var(--color-pink);
			}
		}

		@include mq("md") {
			font-size: 16px;
			font-weight: 400;

			svg {
				margin-left: -3px;
			}
		}
	}
}