.select {
	display: inline-block;
	position: relative;
	cursor: pointer;
	min-width: 100px;
	user-select: none;

	select {
		position: absolute;
		height: 40px;
		width: 100%;
		z-index: 4;
		-webkit-appearance: none;
		appearance: none;
		opacity: 0;

		.desktop & {
			visibility: hidden;
		}

		@include mq("md") {
			height: 32px;
		}
	}

	&[aria-expanded="true"] {
		.select-field {
			z-index: 5;

			svg {
				transform: translateY(-50%) rotate(180deg);
			}
		}

		.select-list {
			display: block;
			z-index: 4;
		}
	}

	&[aria-selected="true"] {
		.select-field {
			&__label {
				transform: translateY(-8px);
				font-size: 14px;
			}

			@include mq("md") {
				&__label {
					transform: translateY(-4px);
					font-size: 12px;
				}

				&__value {
					transform: translateY(-3px);
					font-size: 12px;
				}
			}
		}
	}

	.select-field {
		@include rounded(4px);
		height: 40px;
		width: 100%;
		padding: 12px 35px 10px 12px;
		background: var(--color-black);
		border: 1px solid var(--color-dark-pink);
		position: relative;
		z-index: 3;

		@include mq("md") {
			height: 32px;
			padding-top: 7px;
			padding-bottom: 5px;
		}

		&__label {
			font-weight: 500;
			font-size: 16px;
			line-height: 1;
			color: var(--color-orange);
			@include transition-active;

			@include mq("md") {
				transform: translateY(2px);
				font-size: 14px;
			}
		}

		&__value {
			transform: translateY(-6px);
			font-weight: 300;
			font-size: 14px;
			line-height: 1;
		}

		svg {
			pointer-events: none;
			position: absolute;
			top: 50%;
			right: 5px;
			transform: translateY(-50%);
			width: 25px;
			height: 25px;
		}
	}

	.select-list {
		@include rounded(4px);
		position: absolute;
		top: calc(100% - 12px);
		width: 100%;
		background: var(--color-black);
		border: 1px solid var(--color-pink);
		padding: 18px 0 6px 0;
		display: none;
		z-index: 2;

		.simplebar-track {
			right: 0;
		}

		&-wrap {
			height: 100%;
			max-height: 165px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				position: relative;
				padding: 4px 25px 5px 9px;
				color: var(--color-orange);
				font-size: 14px;
				font-weight: 300;

				&::before {
					@include transition-active;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					content: "";
					background: $gradient;
					opacity: 0;
				}

				&::after {
					@include rounded(50%);
					@include transition-active;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 15px;
					width: 7px;
					height: 7px;
					background-color: var(--color-orange);
					content: "";
					opacity: 0;
				}

				@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
					&::before, 	&::after {
						@include transition-hover;
					}

					&:hover {
						font-weight: 500;

						&::before {
							opacity: .2;
						}

						&::after {
							opacity: 1;
						}
					}
				}

				&.selected {
					font-weight: 500;
					cursor: default;

					&::before {
						opacity: .2;
					}

					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
}