
.serial-info-popover {
	position: fixed;
	display: none;
	z-index: 600;

	&__arrow {
		position: absolute;
		top: 17px;
		left: 3px;
		width: 15px;
		height: 40px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='40' viewBox='0 0 15 40' fill='none'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M14.8958 -9.0001C14.8958 -13.4183 18.4776 -17 22.8958 -17H434C438.418 -17 442 -13.4183 442 -9V368C442 372.418 438.418 376 434 376H228.448H22.8958C18.4776 376 14.8958 372.418 14.8958 368L14.8919 39.5352C14.8918 37.2168 13.8861 35.0125 12.1351 33.493L3.65787 26.1368C0.0898396 23.0406 -0.0324272 17.5432 3.39442 14.2914L12.4024 5.74369C13.9942 4.23317 14.8957 2.13508 14.8957 -0.0593695L14.8958 -9.0001Z' fill='%23302F3F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='15' height='40' fill='transparent'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
		
		[data-position="left"] & {
			transform: scaleX(-1);
			left: auto;
			right: 3px;
		}
	}
	
	&-content {
		@include rounded;
		padding: 18px 25px 25px 30px;
		background-color: var(--color-gray);
	}

	&-wrap {
		position: relative;
	}

	&__header {
		color: var(--color-orange);
		margin-bottom: 16px;

		h3 {
			margin: 0;
		}

		span {
			display: inline-block;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.25;
			margin-top: 5px;
		}
	}

	&-body {
		margin-top: 16px;
	}

	&__props {
		margin-bottom: 13px;

		ul {
			@include flex;
			@include justify-content(space-between);
			padding-left: 0;
			margin: 0px -12px;

			li {
				@include flex;
				@include flex-direction;
				padding-left: 12px;
				padding-right: 12px;
			}
		}

		span {
			font-size: 14px;

			&:first-child {
				font-weight: 300;
				color: var(--color-sand);
				margin-bottom: 2px;
			}

			&:last-child {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	&-desctiption {
		line-height: 1.45;
	}

	&-footer {
		@include flex;
		@include justify-content(space-between);
		margin-top: 23px;

		.button {
			@include flex-col(calc(50% - 10px));

			&::after {
				background-color: var(--color-gray);
			}
		}
	}

	&[data-type="desktop"] {
		width: 445px;
	}

	&[data-type="mobile"] {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		.serial-info-popover-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			max-width: 500px;
			height: 100%;
			max-height: 650px;
			padding: 18px 14px 60px 14px;

			@include mq("sm") {
				max-width: 100%;
				max-height: 100%;
			}
		}

		.serial-info-popover-wrap {
			height: 100%;
		}

		.serial-info-popover__close {
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			background-color: transparent;
			padding: 0;
			cursor: pointer;

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				&:hover svg {
					--color: var(--color-text);
				}
			}

			&:active svg {
				--color: var(--color-text);
			}
		}

		.serial-info-popover__header {
			padding-right: 33px;
			margin-bottom: 12px;

			h3 {
				font-size: 22px;
			}

			span {
				font-size: 14px;
			}
		}

		.serial-info-popover-body {
			margin-top: 13px;
		}

		.serial-info-popover__trailer {
			display: flex;
			width: 100%;
			position: relative;

			iframe {
				width: 100%;
				height: 25vw;

				@include mq("sm") {
					height: 50vw;
				}
			}

			.serial-info-popover__serial-status {
				position: absolute;
				top: 10px;
				left: -5px;
				display: inline-block;
				background-color: var(--color-green);
				color: var(--color-black);
				width: 75px;
				text-align: center;
				padding: 3px 15px;
				border-radius: 20px;
				font-weight: 500;
				font-size: 12px;
				line-height: 1;

				&.completed {
					background-color: var(--color-light-pink);
				}
			}
		}

		.serial-info-popover__props {
			margin-top: 13px;

			ul {
				li {
					@include flex-direction(row);
					@include align-items(flex-end);
				}
			}

			span {
				&:first-child {
					font-size: 12px;
					line-height: 16px;
					margin-bottom: 0;
				}

				&:last-child {
					display: inline-block;
					margin-left: 7px;
					line-height: 16px;
				}
			}

			.serial-info-popover__genre {
				@include flex;
				@include flex-direction(row);
				@include align-items(flex-end);
				margin-top: 6px;
			}

			.serial-info-popover__sounds {
				@include flex;
				@include flex-direction(row);
				@include align-items(flex-end);
				margin-top: 6px;
			}
		}

		.serial-info-popover-description {
			position: relative;

			&::before {
				position: absolute;
				bottom: -1px;
				left: 0;
				right: 0;
				height: 40px;
				content: "";
				z-index: 1;
				background-image: linear-gradient(to top, $color-gray, rgba($color-gray, 0));
			}

			h4 {
				font-size: 18px;
			}

			&__content {
				min-height: 60px;
				max-height: 250px;
				font-size: 16px;
				line-height: 1.25;
			}

			.simplebar-track.simplebar-vertical {
				right: -5px;
			}

			.simplebar-content {
				padding-bottom: 30px !important;
			}
		}
		
		.serial-info-popover-footer {
			background-color: var(--color-gray);
			margin-top: 0;
			position: absolute;
			bottom: -60px;
			left: 0;
			right: 0;
			padding: 12px 14px;

			.button {
				font-size: 17px;
				min-height: 40px;
			}
		}
	}
}