.show-more-wrap {
	transition: 0.5s ease-in-out;
	overflow-y: hidden;
	position: relative;
	padding-bottom: 10px;

	&::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    content: "";
    background-image: linear-gradient(to top, $color-black, rgba($color-black, 0));
	}
}

.show-more__toggle {
	@include transition-active;
	color: var(--color-orange);
	text-decoration: none !important;
	display: inline-block;
	margin-top: 12px;

	svg {
		margin-bottom: -7px;
	}

	[aria-expanded="true"] + & {
		svg {
			@include rotate(180deg);
		}
	}

	@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
		@include transition-hover;

		&:hover {
			color: var(--color-pink);
			
			svg {
				--color-top: var(--color-pink);
			}
		}
	}

	&:active {
		color: var(--color-pink);
			
		svg {
			--color-top: var(--color-pink);
		}
	}

	@include mq("md") {
		display: inline-block;
		font-size: 16px;
		font-weight: 400;
		margin-top: 3px;

		svg {
			margin-left: -5px;
		}
	}
}

