@import '../../../node_modules/swiper/swiper';

@mixin slider-button {
	@include transition-hover;
	@include flex-center;
	@include rounded(50%);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 36px;
	width: 36px;
	padding: 0;
	box-shadow: 0px 4px 4px rgba(35, 36, 52, 0.73);
	background-color: var(--color-text);
	z-index: 10;
	border: none;
	outline: none;
	cursor: pointer;

	&::before {
		@include transition-active;
		@include rounded(50%);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: $gradient;
		content: "";
		opacity: 0;
	}

	svg {
		z-index: 1;
		--color: var(--color-pink);
		width: 64%;
		height: 64%;
		position: relative;
	}

	&-prev {
		left: 0;

		svg {
			right: 1px;
		}
	}

	&-next {
		right: 0;

		svg {
			left: 1px;
		}
	}

	&-disabled {
		display: none;
	}

	@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
		&::before {
			@include transition-hover;
		}

		&:hover {
			&::before {
				opacity: 1;
			}

			svg {
				--color: var(--color-text);
			}
		}
	}

	&:active {
		&::before {
			opacity: 1;
		}

		svg {
			--color: var(--color-text);
		}
	}

	@include mq("md") {
		height: 30px;
		width: 30px;
	}
}

.swiper-button {
	@include slider-button;
}