.tabs {
	&-list {
		@include flex;
		@include rounded(100px);
		background-color: var(--color-text);
		overflow: hidden;
		
		&__item {
			position: relative;
			@include rounded(100px);
			flex-grow: 1;
			z-index: 1;

			a {
				@include flex-center;
				width: 100%;
				cursor: pointer;
				padding: 5px 25px;
				border: none;
				outline: none;
				user-select: none;
				position: relative;
				line-height: 1;
				font-weight: 400;
				color: var(--color-text);
				background-color: transparent;
				text-decoration: none !important;
				min-height: 38px;
				font-size: 19px;

				&::before {
					@include rounded(100px);
					position: absolute;
					top: 0;
					right: -6px;
					bottom: 0;
					left: -6px;
					background-image: $gradient;
					content: "";
					opacity: 0;
				}

				span {
					@include flex-center;
					z-index: 1;
					color: var(--color-pink);
					font-size: inherit;
					transition: font-size 0.1s;

					// фикс отступа на macos и ios, таков шрифт
					.macos & {
						position: relative;
						top: 1px;
					}

					.ios & {
						position: relative;
						top: 2px;
					} 
				}

				@include mq("sm") {
					min-height: 24px;
					font-size: 18px;
					padding: 6px 18px;
				}
			}

			&:not(.tabs-list__item_active) {
				@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
					a span {
						transition: transform 0.2s ease-in-out;
					}

					a:hover span {
						transform: scale(1.04);
					}
				}

				a:active span {
					transform: scale(1.04);
				}
			}

			&.tabs-list__item_active {
				box-shadow: 5px 0px 4px rgba(146, 82, 139, 0.26);
				z-index: 2;

				&:first-of-type {
					span {
						margin-left: 4px;
					}
				}

				&:last-of-type {
					span {
						margin-right: 4px;
					}
				}

				a::before {
					opacity: 1;
				}

				span {
					font-weight: 500;
					color: var(--color-text);
				}
			}
		}
	}

	.tabs-content {
		.tabs-content-wrap {
			display: none;

			&_active {
				display: block;
			}
		}
	}
}