.tags {
	@include flex;
	@include flex-wrap;
	margin: -4px;
	padding: 0;
	list-style: none;
	@include mq("md") {
		margin: -2px;
	}

	&__item {
		margin: 4px;

		a {
			@include flex-center;
			@include transition-hover;
			padding: 3px 10px 2px 10px;
			font-size: 12px;
			font-weight: 300;
			line-height: 1;
			color: var(--color-orange);
			text-decoration: none !important;
			position: relative;
			user-select: none;

			&::before {
				@include rounded(4px);
				@include transition-hover;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				content: "";
				opacity: .33;
				background-image: $gradient;
				z-index: 0;
			}

			span {
				z-index: 1;
			}

			&:hover {
				color: var(--color-text);

				&::before {
					opacity: .8;
				}
			}
		}

		@include mq("md") {
			margin: 2px;

			a {
				padding: 2px 4px;
			}
		}
	}
}