#linear-gradient-color2 {
	--color-stop-1: var(--gradient-from);
	--color-stop-2: var(--gradient-to);
}

[class*="icon-svg"] {
	width: 22px;
	height: 22px;

	&.icon-svg-info {
		--color: var(--color-text);
		--color-bg: url(#linear-gradient-color2);
	}

	&.icon-svg-play {
		--color: var(--color-text);
		--color-bg: url(#linear-gradient-color2);
	}

	&.icon-svg-search {
		--color: url(#linear-gradient-color2);
		--color-flare: var(--color-orange);
	}

	&.icon-svg-sort {
		--color: var(--color-text);
	}
 
	&.icon-svg-link {
		--color: var(--color-orange);
		--color-shadow: var(--color-pink);
		width: 14px;
		height: 14px;
	}

	&.icon-svg-dropdown {
		--color-top: var(--color-orange);
		--color-bottom: var(--color-pink);
	}

	&.icon-svg-close {
		--color: url(#linear-gradient-color2);
	}

	&.icon-svg-random {
		--color: var(--color-text);
		--color-bg: url(#linear-gradient-color2);
	}

	&.icon-svg-star {
		--color-border: var(--color-orange);
		--color-fill: transparent;
	}

	&.icon-svg-menu-toggle {
		--color: url(#linear-gradient-color2);
	}

	&.icon-svg-arrow-next {
		--color: var(--color-pink);
	}

	&.icon-svg-arrow-prev {
		--color: var(--color-pink );
	}

	&.icon-svg-chevron-left {
		--color: #9B9B9B;
	}

	&.icon-svg-chevron-right {
		--color: #9B9B9B;
	}

	&.icon-svg-play-triangle {
		--color: url(#linear-gradient-color2);
	}
}

// flags
[class*="flag-"] {
	display: inline-block;
	position: relative;
	background-image: url(../images/flags.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;

	&.flag-china {
		background-position: -40px -140px;
	}

	&.flag-south-korea {
		background-position: -20px -480px;
	}

	&.flag-japan {
		background-position: -160px -260px;
	}

	&.flag-taiwan {
		background-position: -40px -500px;
	}
}