// Flex
@mixin flex() {
	display: flex;
}

@mixin flex-direction($direction: column) {
	flex-direction: $direction;
}

@mixin flex-wrap($wrap: wrap) {
	flex-wrap: $wrap;
}

@mixin align-items($align: center) {
	align-items: $align;
}

@mixin justify-content($justify: center) {
	justify-content: $justify;
}

@mixin flex-center() {
	@include flex;
	@include align-items;
	@include justify-content;
}

@mixin flex-col($width) {
	flex: 0 0 $width;
	@if $width == 'auto' {
		max-width: 100%;
	} @else {
		max-width: $width;
	}
}

// Rotations
@mixin rotate($degree: -90deg) {
	transform: rotate($degree);
}

// Rounded corners
@mixin rounded($radius: 8px) {
	border-radius: $radius;
}

@mixin rounded-bottom($radius: 8px) {
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin rounded-left($radius: 8px) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

@mixin rounded-right($radius: 8px) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin rounded-top($radius: 8px) {
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin shadow-none {
	box-shadow: none !important;
}

// Transition
@mixin transition-active() {
	transition: all .1s;
}

@mixin transition-hover {
	transition: all .2s ease-in-out;
}

// img cover
@mixin img-container($height) {
	position: relative;
	overflow: hidden;
	padding-top: $height;

	img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

// typography
@mixin font-medium-18 {
	color: var(--color-orange);
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

@mixin font-medium-16 {
	color: var(--color-orange);
	font-weight: 500;
	font-size: 16px;
	line-height: 17px;
}

@mixin font-regular-20 {
	font-size: 20px;
}

@mixin font-regular-18 {
	font-size: 18px;
}

@mixin font-light-24 {
	font-weight: 300;
	font-size: 24px;
}

@mixin font-light-22 {
	font-weight: 300;
	font-size: 22px;
}

@mixin font-light-20 {
	font-weight: 300;
	color: var(--color-orange);
	font-size: 20px;
}

@mixin font-light-18 {
	font-weight: 300;
	color: var(--color-orange);
	font-size: 18px;
}

@mixin font-light-16 {
	font-weight: 300;
	color: var(--color-orange);
	font-size: 16px;
}

@mixin font-light-14 {
	font-weight: 300;
	color: var(--color-orange);
	font-size: 14px;
}

@mixin font-light-12 {
	font-weight: 300;
	color: var(--color-orange);
	font-size: 12px;
}

// Media queries
$breakpoints_width: (
	"xs" : 321px,
	"sm" : 577px,
	"md" : 769px,
	"lg" : 993px,
	"xl" : 1025px,
	"xxl": 1201px
);

$breakpoints_height: (
	"xs" : 0,
	"sm" : 576px,
	"md" : 768px,
	"lg" : 992px
);

@mixin mq($size, $type: max, $direction: horizontal) { // (["xs", "sm", "md", "lg", "xl/null", "xxl/null"], null/"min", null/vertical)
  @if $direction == vertical {
    @if map_has_key($breakpoints_height, $size) {
      $height: map_get($breakpoints_height, $size);
      @if $type == min {
        $height: $height + 1px;
      }
      @media only screen and (#{$type}-height: $height) {
        @content;
      }
    }
	} @else {
		@if map_has_key($breakpoints_width, $size) {
			$width: map_get($breakpoints_width, $size);
			@if $type == min {
				$width: $width + 1px;
			}
			@media only screen and (#{$type}-width: $width) {
				@content;
			}
		}
  }
}