@font-face {
	font-family: 'BloggerSans';
	font-display: swap;
	src: url('./../fonts/BloggerSans/light/BloggerSans-Light.eot');
	src: url('./../fonts/BloggerSans/light/BloggerSans-Light.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/BloggerSans/light/BloggerSans-Light.svg#BebasNeueBold') format('svg'),
		url('./../fonts/BloggerSans/light/BloggerSans-Light.ttf') format('truetype'),
		url('./../fonts/BloggerSans/light/BloggerSans-Light.woff2') format('woff2'),
		url('./../fonts/BloggerSans/light/BloggerSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'BloggerSans';
	font-display: swap;
	src: url('./../fonts/BloggerSans/regular/BloggerSans-Regular.eot');
	src: url('./../fonts/BloggerSans/regular/BloggerSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/BloggerSans/regular/BloggerSans-Regular.svg#BebasNeueBold') format('svg'),
		url('./../fonts/BloggerSans/regular/BloggerSans-Regular.ttf') format('truetype'),
		url('./../fonts/BloggerSans/regular/BloggerSans-Regular.woff2') format('woff2'),
		url('./../fonts/BloggerSans/regular/BloggerSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'BloggerSans';
	font-display: swap;
	src: url('./../fonts/BloggerSans/medium/BloggerSans-Medium.eot');
	src: url('./../fonts/BloggerSans/medium/BloggerSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/BloggerSans/medium/BloggerSans-Medium.svg#BebasNeueBold') format('svg'),
		url('./../fonts/BloggerSans/medium/BloggerSans-Medium.ttf') format('truetype'),
		url('./../fonts/BloggerSans/medium/BloggerSans-Medium.woff2') format('woff2'),
		url('./../fonts/BloggerSans/medium/BloggerSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'BloggerSans';
	font-display: swap;
	src: url('./../fonts/BloggerSans/bold/BloggerSans-Bold.eot');
	src: url('./../fonts/BloggerSans/bold/BloggerSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/BloggerSans/bold/BloggerSans-Bold.svg#BebasNeueBold') format('svg'),
		url('./../fonts/BloggerSans/bold/BloggerSans-Bold.ttf') format('truetype'),
		url('./../fonts/BloggerSans/bold/BloggerSans-Bold.woff2') format('woff2'),
		url('./../fonts/BloggerSans/bold/BloggerSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

html {
	font-style: normal;
	font-weight: normal;
	line-height: 1.4;
	color: var(--color-text);
	font-family: $blogger-font;
	font-size: 17px;
}

body {
	background-color: var(--color-black);
	color: var(--color-text);
	font-family: $blogger-font;
	font-size: 17px;
	line-height: 1.4;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior-y: none;

	@include mq("md") {
		font-size: 16px;
	}
}

a {
	color: var(--color-pink);
	cursor: pointer;
	text-decoration: none;

	@media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0){
		&:hover:not(.button) {
			text-decoration: underline;
		}
	}

	&:active:not(.button) {
		text-decoration: underline;
	}

	&.external-link-arrow {
		text-decoration: none !important;

		&:hover {
			svg {
				--color: var(--color-pink);
			}
		}
	}

	&.external-link {
		color: var(--color-orange);
		text-decoration: none !important;

		span {
			@include transition-hover;
			margin-right: 4px;
			padding-bottom: 1px;
			border-bottom: 1px solid transparent;
		}

		&:hover {
			span {
				color: var(--color-pink);
				border-bottom-color: var(--color-dark-pink);
			}

			svg {
				--color: var(--color-pink);
			}
		}
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $blogger-font;
	margin: 0;
	font-weight: 500;
	line-height: 1;
}

h1, .h1 {
	font-size: 38px;
	margin-top: 5px;
	margin-bottom: 20px;

	@include mq("xl") {
		font-size: 35px;
	}

	@include mq("sm") {
		font-size: 30px;
	}
}

h2, .h2 {
	font-size: 32px;
	line-height: 35px;
	margin-top: 5px;
	margin-bottom: 20px;
	
	@include mq("xl") {
		font-size: 29px;
		line-height: 1;
	}
	
	@include mq("sm") {
		font-size: 24px;
	}
}

h3, .h3 {
	font-size: 26px;
	line-height: 1;
	margin-top: 2px;
	margin-bottom: 10px;
	
	@include mq("xl") {
		font-size: 25px;
	}
	
	@include mq("sm") {
		font-size: 20px;
	}
}

h4, .h4 {
	font-size: 22px;
	line-height: 1;
	margin-top: 5px;
	margin-bottom: 5px;
	
	@include mq("xl") {
		font-size: 21px;
	}

	@include mq("sm") {
		font-size: 19px;
	}
}

h5, .h5 {
	font-size: 18px;
	line-height: 1;
	margin-top: 5px;
	margin-bottom: 5px;
}

h6, .h6 {
	font-size: 17px;
	line-height: 1;
	margin-top: 5px;
	margin-bottom: 5px;
}

.font-medium-18 {
	@include font-medium-18;
}

.font-medium-16 {
	@include font-medium-16;
}

.font-regular-20 {
	@include font-regular-20;
}

.font-regular-18 {
	@include font-regular-18;
}

.font-light-24 {
	@include font-light-24;
}

.font-light-20 {
	@include font-light-20;
}

.font-light-18 {
	@include font-light-18;
}

.font-light-16 {
	@include font-light-16;
}

.font-light-14 {
	@include font-light-14;
}

.font-light-12 {
	@include font-light-12;
}

p {
	line-height: 1.47;
	margin: 0 0 12px 0;

	&:last-child {
		margin: 0;
	}
}

small, .small {
	font-size: 80%;
}

.uppercase {
	text-transform: uppercase;
}

.bold, .strong,
b, strong {
	font-weight: 700;
}

.text-center {
	text-align: center !important;
}