// Colors
$color-dark-pink	: #72436f;
$color-pink				: #a85a9d;
$color-light-pink	: #fd6895;
$color-orange			: #e79899;
$color-sand				: #d0baae;
$color-gray				: #302f3f;
$color-black			: #21202a;
$color-green			: #68fde2;

$gradient-from		:#f37f7f;
$gradient-to			:#944b8c;

$color-text				:#fbe0d0;

:root {
	--color-dark-pink		: #{$color-dark-pink};
	--color-pink				: #{$color-pink};
	--color-light-pink	: #{$color-light-pink};
	--color-orange			: #{$color-orange};
	--color-sand				: #{$color-sand};
	--color-gray				: #{$color-gray};
	--color-black				: #{$color-black};
	--color-green				: #{$color-green};

	--gradient-from			: #{$gradient-from};
	--gradient-to				: #{$gradient-to};

	--color-text				: #{$color-text};
}

$gradient: linear-gradient(to right, $gradient-from, $gradient-to);


// Fonts
$blogger-font	: 'BloggerSans', sans-serif;