.category-page {
	.page-title {
		margin-bottom: 0;
	}

	.page-subtitle {
		@include mq("md") {
			margin-top: 5px;
		}
	}

	.category-catalog {
		.category-header {
			@include flex;
			@include justify-content(space-between);
			@include align-items;
			margin-top: 19px;
			margin-bottom: 27px;
			padding: 7px 26px 7px 15px;
			position: relative;

			&::before {
				@include rounded;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: $gradient;
				content: "";
				opacity: 0.3;
				z-index: -1;
			}

			@include mq("md") {
				@include flex-direction;
				padding: 0 0 4px 0;
				margin-top: 16px;
				margin-bottom: 10px;

				&::before {
					opacity: 0.4;
					width: 100%;
					height: 1px;
					top: auto;
					bottom: 0;
					left: 0;
				}
			}

			a {
				@include transition-active;
				@include flex-center;
				color: var(--color-text);
				font-size: 18px;

				span {
					line-height: 22px;

					// баг windows с данным шрифтом, отображает ниже, чем нужно
					.windows.desktop & {
						position: relative;
						top: -1px;
					}

					// баг ipad текст выше чем нужно
					.ipad & {
						position: relative;
						top: 2px;
					}
				}

				@include mq("md") {
					font-size: 16px;
					width: 93px;

					span {
						top: 0px;
					}
				}
			}

			&-sort {
				@include flex;

				a {
					color: var(--color-orange);
					text-decoration: none !important;

					svg {
						@include transition-active;
						height: 11px;
						position: relative;
						--color: var(--color-orange);
					}

					&.category-header-sort__desc {
						margin-right: 28px;
					}

					&.category-header-sort__abs {
						svg {
							@include rotate(180deg);
						}
					}

					&.disabled {
						cursor: default;
						color: var(--color-text);

						svg {
							--color: var(--color-text);
						}
					}

					@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
						&:not(.disabled):hover {
							@include transition-hover;
							color: var(--color-pink);

							svg {
								@include transition-hover;
								--color: var(--color-pink);
							}

							&.category-header-sort__desc {
								svg {
									transform: translateY(-2px);
								}
							}
		
							&.category-header-sort__abs {
								svg {
									transform: translateY(2px) rotate(180deg);
								}
							}
						}
					}

					&:not(:disabled):active {
						color: var(--color-pink);

						svg {
							--color: var(--color-pink);
						}

						&.category-header-sort__desc {
							svg {
								transform: translateY(-2px);
							}
						}
	
						&.category-header-sort__abs {
							svg {
								transform: translateY(2px) rotate(180deg);
							}
						}
					}
				}

				@include mq("md") {
					@include justify-content(space-around);
					order: 2;
					margin-top: 15px;
					width: 100%;

					a {
						@include flex-center;
						@include flex-col(50%);

						&.category-header-sort__abs {
							margin-right: 0;
						}

						&.category-header-sort__desc {
							padding-right: 10px;
						}
	
						svg {
							margin: 1px 5px 0 0;
							width: 11px;
							height: 11px;
						}
					}
				}
			}

			&-info {
				@include flex;

				@include mq("md") {
					width: 100%;
					order: 1;
					position: relative;
					padding: 9px 0;
					@include justify-content(space-around);

					&::before {
						@include rounded;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						background-image: $gradient;
						content: "";
						opacity: 0.3;
						z-index: -1;
					}

					&::after {
						position: absolute;
						top: 0;
						left: 50%;
						top: 7px;
						bottom: 7px;
						transform: translateX(-50%);
						width: 2px;
						background-color: var(--color-black);
						content: "";
					}
				}
				
				a {
					color: var(--color-orange);

					&:not(:last-child) {
						margin-right: 52px;
						position: relative;

						&::after {
							position: absolute;
							top: 0;
							right: -28px;
							top: 0px;
							bottom: -2px;
							width: 2px;
							background-color: var(--color-black);
							content: "";
							pointer-events: none;
						}
					}

					svg {
						margin-right: 11px;
					}

					&:hover {
						color: var(--color-text);
						text-decoration: none;

						svg {
							--color: url(#linear-gradient-color2);
							--color-bg: var(--color-text);
						}
					}

					@include mq("md") {
						@include flex-center;
						@include flex-col(50%);
						&:not(:last-child) {
							margin-right: 0;

							&::after {
								content: none;
							}
						}

						svg {
							margin-right: 7px;
							width: 20px;
							height: 20px;
						}
					}
				}
			}
		}
	}

	.serial-list-episodes {
		@include mq("md") {
			margin: 10px 0;
			grid-gap: 15px 12px;
		}
	}

	.serial-description {
		padding: 0 11.4%;
		margin-top: 38px;
		margin-bottom: 56px;

		@include mq("md") {
			padding: 0;
			margin-top: 28px;
			margin-bottom: 29px;
		}

		.serial-description-slider {
			position: relative;

			.h2 {
				position: absolute;
				left: 0;
				top: -5px;
				margin: 0;

				@include mq("md") {
					position: relative;
					top: 0;
					margin-bottom: 8px;
					font-size: 18px;
				}
			}
		}

		.serial-description-text {
			margin-top: 42px;
			font-weight: 300;

			@include mq("md") {
				margin-top: 27px;

				h3 {
					margin-bottom: 5px;
				}

				p {
					line-height: 1.25;
					margin-bottom: 9px;
				}
			}
		}

		.first-episode-link {
			margin-top: 23px;
			display: none;

			@include mq("md") {
				@include flex;
			}
		}
	}

	.comments {
		margin-top: 56px;
		margin-bottom: 39px;
	}

	.related-serials,
	.similar-serials {
		margin-top: 30px;
		margin-bottom: 30px;

		h2 {
			margin-bottom: 10px;
		}

		.swiper-button {
			top: 45%;

			&-prev {
				left: 20px;
			}

			&-next {
				right: 20px;
			}
		}

		.catalog-slider {
			margin-left: -15px;
			margin-right: -15px;
			padding-left: 15px;
			padding-right: 15px;

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				.swiper-button {			
					opacity: 0;
				}
	
				&:hover {
					.swiper-button {
						opacity: 1;
					}
				}
			}
		}

		@include mq("md") {
			h2, .h2 {
				margin-bottom: 7px;
			}

			.catalog-slider {
				margin-top: 7px;
				margin-left: -12px;
				margin-right: -12px;
				padding-left: 12px;
				padding-right: 12px;
			}
		}
	}

	.related-serials + .similar-serials {
		@include mq("md") {
			margin-top: 39px;
		}
	}
}