.episode-page {
	.page-title {
		margin-bottom: 6px;
	}

	.page-subtitle {
		margin-top: 0;
		margin-bottom: 25px;

		@include mq("md") {
			margin-bottom: 17px;
		}
	}

	.episode-sounds {
		.swiper-button {
			@include flex-center;
			@include rounded(50%);
			position: absolute;
			top: 0;
			transform: translateY(0);
			height: 38px;
			width: 38px;
			box-shadow: 0px 4px 4px rgba(35, 36, 52, 0.73);
			background-color: var(--color-orange);
			z-index: 10;
			border: none;
			outline: none;
			cursor: pointer;

			svg {
				--color: var(--color-text);
			}

			&-prev {
				left: 0;
			}

			&-next {
				right: 0;
			}

			&-disabled {
				display: none;
			}
		}

		@include mq("md") {
			.tabs-list__item {
				width: auto;
				flex-grow: 0;
			}
		}

		@include mq("sm") {
			.swiper-button {
				height: 30px;
				width: 30px;
			}
		}
	}

	.episode-rating {
		@include flex-center;
		margin-top: 16px;

		& > span {
			font-size: 18px;
			line-height: 20px;
			font-weight: 300;
			color: var(--color-sand);
		}

		.rating {
			margin-left: 6px;
		}

		a {
			padding: 2px;
			svg {
				width: 28px;
				height: 28px;
			}
		}

		@include mq("md") {
			margin-top: 7px;
			padding-right: 14px;

			& > span {
				font-size: 14px;
			}

			.rating {
				margin-left: 4px;
			}

			a {
				svg {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	.related-serials,
	.similar-serials {
		margin-top: 30px;
		margin-bottom: 30px;

		h2 {
			margin-bottom: 10px;
		}

		.swiper-button {
			top: 45%;

			&-prev {
				left: 20px;
			}

			&-next {
				right: 20px;
			}
		}

		.catalog-slider {
			margin-top: 10px;
			margin-left: -15px;
			margin-right: -15px;
			padding-left: 15px;
			padding-right: 15px;

			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				.swiper-button {			
					opacity: 0;
				}
	
				&:hover {
					.swiper-button {
						opacity: 1;
					}
				}
			}
		}

		@include mq("md") {
			margin-top: 24px;

			.catalog-slider {
				margin-left: -12px;
				margin-right: -12px;
				padding-left: 12px;
				padding-right: 12px;
			}
		}
	}

	.related-serials + .similar-serials {
		margin-top: 43px;
	
		@include mq("md") {
			margin-top: 35px;
		}
	}
}

.all-episodes {
	margin-top: 28px;

	.all-episodes-header {
		@include flex;
		@include align-items(flex-end);
		@include justify-content(space-between);
		margin-bottom: 11px;
		position: relative;
		
		.h2 {
			line-height: 1;
			margin: 0;
		}

		a {
			text-decoration: none !important;
			color: var(--color-orange);
			font-size: 18px;
			font-weight: 500;
			line-height: 1;
			margin: 0 -3px 2px 0;

			svg {
				width: 14px;
				height: 14px;
			}
		}
	}

	.swiper-button {
		top: calc(50% - 14px);

		&-prev {
			left: 20px;
		}

		&-next {
			right: 20px;
		}
	}

	@include mq("xl") {
		.swiper-button {
			&-prev {
				left: 12px;
			}
	
			&-next {
				right: 12px;
			}
		}
	}

	@include mq("md") {
		margin: 15px 0 0 0;

		.swiper-button {
			top: calc(50% - 11px);
		}

		.all-episodes-header {
			margin-bottom: 9px;

			a {
				font-size: 14px;
				margin-bottom: 1px;

				svg {
					position: relative;
					top: 2px;
					right: 2px;
				}
			}
		}
		
		.swiper-container {
			margin-left: -12px;
			margin-right: -12px;
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}

.episode-container {
	@include flex;
	margin-top: 55px;
	margin-bottom: 33px;

	@include mq("md") {
		margin-top: 30px;
		margin-bottom: 24px;
	}

	.episode-info {
		@include flex-col(calc(100% - 298px));
		padding-right: 58px;

		@include mq("md") {
			@include flex-col(100%);
			padding-right: 0;
		}

		.episode-releases {
			&__header {
				@include flex;
				@include align-items(flex-end);
				@include justify-content(space-between);
				padding-bottom: 15px;
				position: relative;

				&::after {
					position: absolute; 
					background: $gradient;
					opacity: 0.4;
					content: "";
					width: 100%;
					height: 1px;
					bottom: 0;
					left: 0;
				}

				h2 {
					line-height: 1;
					margin: 0;
				}

				a {
					text-decoration: none !important;
					color: var(--color-orange);
					font-size: 18px;
					font-weight: 500;
					line-height: 1;
					margin-bottom: 2px;
					margin-right: -3px;
				}
			}

			&__list {
				list-style: none;
				margin: 0 0 38px 0;
				padding: 0;

				li {
					@include flex;
					@include justify-content(space-between);
					position: relative;
					font-size: 20px;
					padding: 6px 0;
	
					&::after {
						position: absolute; 
						background: $gradient;
						opacity: 0.4;
						content: "";
						width: 100%;
						height: 1px;
						bottom: 0;
						left: 0;
					}

					span:last-child {
						font-size: 18px;
					}
				}
			}

			@include mq("md") {
				&__header {
					padding-bottom: 13px;

					a {
						font-size: 14px;
						margin-bottom: 1px;
		
						svg {
							position: relative;
							top: 2px;
							right: 2px;
						}
					}
				}

				&__list {
					margin-bottom: 30px;

					li {
						font-size: 16px;
						line-height: 16px;
						padding: 12px 0;
						
						span:last-child {
							font-size: 14px;
							line-height: 16px;
						}
					}
				}
			}
		}

		.episode-description {
			margin-top: 38px;
			margin-bottom: 32px;

			&__header {
				margin-bottom: 10px;

				h2 {
					margin: 0;
				}

				span {
					margin-top: 9px;
					color: var(--color-sand);
				}
			}

			&__text {
				font-weight: 300;
			}

			@include mq("md") {
				margin-top: 30px;

				&__header {
					span {
						font-size: 14px;
						display: inline-block;
						margin-top: 4px;
					}
				}

				&__text {
					p {
						line-height: 1.3;
					}
				}
			}
		}

		.comments {
			margin-top: 32px;

			img {
				width: 100%;
			}

			@include mq("md") {
				margin: 34px -15px 0;
			}
		}
	}

	.episode__advertising {
		@include flex-col(298px);
		min-height: 100%;
		background-color: var(--color-gray);

		@include mq("md") {
			display: none;
		}
	}
}