.novelty {
	margin-top: 52px;

	.novelty__tabs {
		margin-top: 22px;

		.tabs-list {
			margin: 0 auto 36px auto;
			max-width: 408px;

			&__item {
				@include flex-col(50%);
			}

			@include mq("sm") {
				max-width: 270px;
			}
		}
	}

	.catalog-slider {
		position: relative;

		.swiper-button {
			top: 45%;

			@include mq("sm") {
				top: 40%;
			}

			&-prev {
				left: 20px;
			}

			&-next {
				right: 20px;
			}

			&:active {
				svg {
					--color: var(--color-text);
				}
			}
		}

		@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
			.swiper-button {			
				opacity: 0;
			}

			&:hover {
				.swiper-button {
					opacity: 1;
				}
			}
		}
	}

	@include mq("xl") {
		.novelty__tabs {
			.tabs-list {
				margin-bottom: 25px;
			}
		}

		.catalog-slider {
			margin-left: -15px;
			margin-right: -15px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	@include mq("md") {
		margin-top: 33px;

		.novelty__title {
			margin-bottom: 15px;
		}

		.novelty__tabs {
			margin-top: 15px;

			.tabs-list {
				margin-bottom: 20px;
			}
		}

		.catalog-slider {
			margin-left: -12px;
			margin-right: -12px;
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}

.main-page {
	margin-top: 9px;
	margin-bottom: 16px;

	.page-title {
		text-align: center;
	}

	.last-episodes {
		&__button {
			margin-top: 35px;
			min-height: 48px;
		}
	}

	.catalog-full {
		margin-top: 56px;

		h2 {
			margin: 0;
		}
	}

	@include mq('md') {
		.page-title {
			margin-bottom: 12px;
		}
		
		.last-episodes {
			.catalog {
				margin: 12px 0;
			}
			
			&__button {
				margin-top: 15px;
				min-height: 40px;
				letter-spacing: 0.4px;
			}
		}
		
		.catalog-full {
			margin-top: 27px;

			.h1 {
				margin-bottom: 0;
			}
		}
	}

	@include mq('sm') {
		.catalog-full {
			& + hr {
				display: none;
			}
		}

		.page-description {
			margin-top: 32px;

			p {
				line-height: 1.27;
			}
		}
	}
}