.last-episodes-page {
	.last-episodes {
		margin-top: 27px;
		margin-bottom: 64px;
	
		.last-episodes-day {
			&:not(:first-child) {
				margin-top: 46px;
			}
	
			&__title {
				@include flex-center;
				font-size: 18px;
				font-weight: 500;
				padding: 8px 25px;
				position: relative;
				line-height: 1;
				margin-bottom: 20px;

				span {
					z-index: 1;
				}
	
				&::before {
					@include rounded(4px);
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-image: $gradient;
					content: "";
					opacity: 0.3;
				}
			}
		}

		&__button {
			margin-top: 34px;
			min-height: 48px;
		}
	}

	.novelty {
		.novelty__tabs {
			margin-top: 26px;

			.tabs-list {
				margin-bottom: 25px;
			}
		}
	}

	.page-description {
		h3 {
			margin-bottom: 8px;
		}
	}

	@include mq("xl") {
		.last-episodes {
			margin-top: 20px;
		}
	}

	@include mq("md") {
		margin-bottom: 14px;

		.page-title {
			text-align: left;
			margin-bottom: 15px;
		}

		.last-episodes {
			margin-top: 15px;
			margin-bottom: 35px;

			.last-episodes-day {
				&:not(:first-child) {
					margin-top: 28px;
				}

				&__title {
					font-size: 14px;
					padding: 5px 25px;

					// фикс iphone
					.mobile.iphone & {
						padding: 6px 25px 4px 25px;
					}
				}
			}
		}

		.last-episodes__button {
			margin-top: 20px;
			min-height: 40px;

			&::after {
				opacity: 0;
			}
	
			@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
				&:hover::after {
					opacity: 1;
				}
			}
	
			&:active::after {
				opacity: 1;
			}
		}

		.novelty {
			.novelty__tabs {
				margin-top: 16px;

				.tabs-list {
					margin-bottom: 20px;
				}
			}
		}
	}

	@include mq('sm') {
		.novelty {
			& + hr {
				display: none;
			}
		}

		.page-description {
			margin-top: 32px;

			p {
				line-height: 1.27;
			}
		}
	}
}