.search-page {
	.page-title {
		margin-bottom: 14px;
	}

	.search-form {
		margin-bottom: 40px;

		form {
			@include flex;
		}

		.form-item {
			position: relative;
			flex-grow: 1;
			margin-right: 20px;
			margin-bottom: 0;

			input {
				width: 100%;
				padding-right: 20px;
				color: var(--color-sand);

				&::placeholder {
					color: var(--color-sand);
				}
			}

			.search-clean {
				position: absolute;
				top: calc(50% - 7px);
				right: 15px;
				width: 14px;
				height: 14px;
				border: none;
				background-color: transparent;
				padding: 0;
				outline: none;
				cursor: pointer;

				svg {
					--color: var(--color-orange);
					width: inherit;
					height: inherit;
				}

				&:hover {
					svg {
						--color: var(--color-text);
					}
				}
			}
		}

		.button {
			width: 228px;
		}

		@include mq("md") {
			margin-bottom: 26px;

			form {
				@include flex-direction;
			}
	
			.form-item {
				margin-right: 0;

				input {
					padding: 12px 35px 12px 11px;
				}
			}
	
			.button {
				min-height: 40px;
				margin-top: 12px;
				width: 100%;
			}
		}
	}

	.search-catalog {
		.catalog {
			margin-bottom: 33px;

			@include mq("md") {
				margin-bottom: 23px;
			}
		}

		button {
			min-height: 40px;
		}
	}
}

.search-result {
	margin-top: 40px;
	padding-bottom: 32px;
	margin-bottom: 36px;
	position: relative;

	&::before {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 1px;
		background-image: $gradient;
		content: "";
		opacity: 0.4;
	}

	@include mq("md") {
		margin-top: 26px;
		margin-bottom: 18px;
		padding-bottom: 20px;
	}
}

.search-item {
	max-width: 80%;

	&:not(:last-child) {
		margin-bottom: 32px;
	}

	&-wrap {
		@include flex;
	}

	&-img {
		@include flex-col(157px);

		div {
			@include rounded;
			@include img-container(140%);

			img {
				@include rounded;
			}
		}
	}

	&-text {
		flex-grow: 1;
		padding-left: 27px;
	}

	&__title {
		color: var(--color-orange);
		margin: -3px 0 0 0;
	}

	&__alternative-title {
		@include font-light-18;
		display: inline-block;
		color: #FBE0D0;
		opacity: 0.6;
	}

	&__rating, &__genre {
		display: none;
		margin-top: 16px;

		span {
			line-height: 14px;

			&:first-child {
				font-size: 12px;
				color: var(--color-sand);
				margin-right: 9px;
			}

			&:last-child {
				font-size: 14px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	&__genre {
		margin-top: 5px;
	}

	&-description {
		margin-top: 20px;

		.external-link-arrow {
			position: relative;
			left: 15px;
			top: 4px;
		}
	}

	@include mq("lg") {
		max-width: 100%;

		&:not(:last-child) {
			margin-bottom: 23px;
		}
	}

	@include mq("md") {
		max-width: 80%;

		&:not(:last-child) {
			margin-bottom: 32px;
		}
	
		@include mq("lg") {
			max-width: 100%;
	
			&:not(:last-child) {
				margin-bottom: 23px;
			}
		}

		&-img {
			@include flex-col(26%);
		}
	
		&-text {
			padding-left: 11px;
		}

		&__title {
			margin: 0;
		}
	
		&__alternative-title {
			font-size: 14px;
			margin-top: 3px;
			line-height: 1.2;
		}
	
		&__rating {
			@include flex;
			margin-top: 15px;
		}

		&__genre {
			@include flex;
			margin-top: 7px;
		}

		&-description {
			display: none;
		}
	}
}