mixin catalog-item_type_little-episode(item)
	.catalog-item.catalog-item_type_little-episode(class=item.active ? 'active' : '')
		a(href="javascript:void(0);")
		.catalog-item__img
			img(src=item.img alt=item.episodeNumber + " серия")
		span.catalog-item__episode-number
			if item.active
				svg.icon-svg-play
					use(xlink:href="#play-triangle")
			= item.episodeNumber + " серия"