mixin catalog-item_type_episode(item)
	.catalog-item.catalog-item_type_episode
		a(href="javascript:void(0);")
		.catalog-item__img
			img(src=item.img alt=item.episodeNumber + " серия")
			svg.icon-svg-play.catalog-item__play
				use(xlink:href="#play")
		span.catalog-item__episode-number= item.episodeNumber + " серия"