mixin catalog-item(item)
	.catalog-item
		a(href="javascript:void(0);")
		.catalog-item__img
			img(src=item.img alt=(item.title ? item.title : ''))
			svg.icon-svg-play.catalog-item__play
				use(xlink:href="#play")
		if item.sounds
			ul.tags.catalog-item__sounds
				each sound in item.sounds
					li.tags__item
						a(href="javascript:void(0);")
							span= sound
		if item.title
			h3.catalog-item__title= item.title
		span.catalog-item__episode-number= item.episodeNumber + " серия"