mixin catalog-item_type_poster(item)
	.catalog-item.catalog-item_type_poster
		a(href="javascript:void(0);")
		.catalog-item__img
			img(src=item.img alt=item.title)
			i.catalog-item__icon-info(data-serial-id=item.serialId)
				svg.icon-svg-info
					use(xlink:href="#info")
		h3.catalog-item__title= item.title