mixin search-item-serial(item)
	.search-item
		.search-item-wrap
			.search-item-img
				div
					img(src=item.img, alt=item.title)
			.search-item-text
				h2.search-item__title.h3= item.title
				span.search-item__alternative-title= item.alternativeTitle
				.search-item__rating
					span MyDramaList
					span= item.rating
				.search-item__genre
					span Жанр
					span= item.genre
				.search-item-description
					each paragraph, i in item.description
						if i < item.description.length-1
							p= paragraph
						else
							p= paragraph
								a.external-link-arrow(href="javascript:void(0);")
									svg.icon-svg-link
										use(xlink:href="#link")