<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Категория
	body
		.wrap
			main
				include includes/header.pug

				.content
					.container
						.category-page
							include mixins/breadcrumbs.pug
							+breadcrumbs(['Красная Луна, голубое Солнце'])

							h1.page-title Дорама «Красная Луна, голубое Солнце» 2020 русская озвучка
							h2.h4.page-subtitle Кровавая луна, ледяное солнце / Красная луна, синее солнце

							.category-catalog
								.category-header
									.category-header-sort
										a.category-header-sort__desc.disabled(href="javascript:void(0);")
											svg.icon-svg-sort
												use(xlink:href="#sort")
											span с последней
										a.category-header-sort__abs(href="javascript:void(0);")
											svg.icon-svg-sort
												use(xlink:href="#sort")
											span с первой
									.category-header-info
										a(href="#about-serial")
											svg.icon-svg-info
												use(xlink:href="#info")
											span о дораме
										a(href="javascript:void(0);")
											svg.icon-svg-play
												use(xlink:href="#play")
											span трейлер

								include mixins/catalog-item_type_episode.pug

								- var serials = [
								-		{ img: './images/serials-main/1.jpg', episodeNumber: 20 }, { img: './images/serials-main/2.jpg', episodeNumber: 19 },
								-		{ img: './images/serials-main/3.jpg', episodeNumber: 18 }, { img: './images/serials-main/4.jpg', episodeNumber: 17 },
								-		{ img: './images/serials-main/5.jpg', episodeNumber: 16 }, { img: './images/serials-main/6.jpg', episodeNumber: 15 },
								-		{ img: './images/serials-main/7.jpg', episodeNumber: 14 }, { img: './images/serials-main/8.jpg', episodeNumber: 13 },
								-		{ img: './images/serials-main/1.jpg', episodeNumber: 12 }, { img: './images/serials-main/2.jpg', episodeNumber: 11 },
								-		{ img: './images/serials-main/3.jpg', episodeNumber: 10 }, { img: './images/serials-main/4.jpg', episodeNumber: 9 },
								-		{ img: './images/serials-main/5.jpg', episodeNumber: 8 }, { img: './images/serials-main/6.jpg', episodeNumber: 7 },
								-		{ img: './images/serials-main/7.jpg', episodeNumber: 6 }, { img: './images/serials-main/8.jpg', episodeNumber: 5 },
								-		{ img: './images/serials-main/1.jpg', episodeNumber: 4 }, { img: './images/serials-main/2.jpg', episodeNumber: 3 },
								-		{ img: './images/serials-main/3.jpg', episodeNumber: 2 }, { img: './images/serials-main/4.jpg', episodeNumber: 1 }];

								.catalog.serial-list-episodes
									each serial in serials
										+catalog-item_type_episode(serial)

								include includes/schedule.pug

								include includes/about-serial.pug

								.serial-description
									.serial-description-slider
										h3.h2 Кадры
										include includes/frames-serial.pug
									.serial-description-text
										.show-more-wrap(data-height="({desktop: 280, mobile: 245})")
											h3 Сюжет дорамы «Блэк» 
											p
												| Если вам когда-нибудь вдруг станет любопытно, с чего начинается настоящая любовь — спросите Клэр Дункан. Она не задумываюсь 
												| вам ответит: «С первого поцелуя!»
											p
												| Дорама «Мир дорам» (русская озвучка) расскажет историю Клэр — девушки двадцати лет, важное место в жизни которой занимают 
												| сериалы с романтичными сюжетами.
											p
												| Дорама «Мир дорам», которую вы можете смотреть онлайн в русской озвучке SoftBox, поведает вам, что не всем интересны прогулки 
												| с друзьями или поход на свидание с настоящими парнями. Реальный мир слишком скучен, особенно если ты там не персонаж главной роли. 
												| Гораздо больше Клэр притягивают дорамы. Она полностью теряет связь с реальностью, наблюдая за случайными встречами очаровательных 
												| юношей и девушек, долгими взглядам и миром, в котором всё просто создано для
												| Дорама «Мир дорам», которую вы можете смотреть онлайн в русской озвучке SoftBox, поведает вам, что не всем интересны прогулки 
												| с друзьями или поход на свидание с настоящими парнями. Реальный мир слишком скучен, особенно если ты там не персонаж главной роли.
										a.show-more__toggle(href="javascript:void(0);") 
											span Полное описание
											svg.icon-svg-dropdown
												use(xlink:href="#dropdown")
									a.button.full-width.first-episode-link(href="javascript:void(0);")
										span Смотреть с 1 серии
										
								//- .comments
									//- комментарии

								include includes/related-serials.pug

								include includes/similar-serials.pug



			include includes/footer.pug									