<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Эпизод
	body
		.wrap
			main
				include includes/header.pug

				.content
					.container
						.episode-page
							include mixins/breadcrumbs.pug
							+breadcrumbs(['Красная Луна, голубое Солнце', 'Красная Луна, голубое Солнце 21 серия'])

							h1.page-title Кровавая луна, ледяное солнце 21 серия русская озвучка смотреть онлайн
							h2.h4.page-subtitle Дорама Кровавая луна, ледяное солнце / Красная луна, синее солнце

							include includes/player.pug

							.episode-rating
								span Оценить:
								include includes/rating.pug

							include includes/all-episodes.pug

							.episode-container
								.episode-info
									.episode-releases
										.episode-releases__header
											span.h2 Даты выхода
											a.external-link(href="javascript:void(0);")
												span все серии
												svg.icon-svg-link
													use(xlink:href="#link")
										ul.episode-releases__list
											li
												span 9 серия
												span 12 февраля 2020
											li
												span 10 серия
												span 29 февраля 2020
											li
												span 11 серия
												span 6 марта 2020
									.episode-description
										.episode-description__header 
											h2 Сюжет «Красная Луна, голубое Солнце» 21&nbsp;серия 
											span.font-light-18 Серия вышла: 12 февраля 2020
										.episode-description__text
											p 
												| Наследница многомиллионной корпорации Юн Се Ри во время испытаний нового оборудования для парапланеризма попадает в бурю. 
												| Порыв ветра заносит девушку на демилитаризованную зону Северной Кореи, где ее немногим позже обнаруживает северокорейский солдат 
												| Ри Джон Хек
									.comments
										img(src="./images/comments.png", alt="")
								.episode__advertising
									.advertising-wrap
										//- advertising

							include includes/related-serials.pug

							include includes/similar-serials.pug



			include includes/footer.pug									