<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Главная
	body
		.wrap
			main
				include includes/header.pug

				.content
					.container
						.main-page
							h1.page-title Дорамы с русской озвучкой смотреть онлайн

							- var serials = [
							-		{ img: './images/serials-main/1.jpg', title: 'Моя прекрасная леди', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 20 },
							-		{ img: './images/serials-main/2.jpg', title: 'Что скрывают маски', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 13 },
							-		{ img: './images/serials-main/3.jpg', title: 'Милашка-лекарь', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 8 },
							-		{ img: './images/serials-main/4.jpg', title: 'Милосердная месть', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 17 },
							-		{ img: './images/serials-main/5.jpg', title: 'Ангел рядом со мной', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 14 },
							-		{ img: './images/serials-main/6.jpg', title: 'Это моя жизнь', sounds: ['Softbox'], episodeNumber: 7 },
							-		{ img: './images/serials-main/7.jpg', title: 'Моя прекрасная леди', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 19 },
							-		{ img: './images/serials-main/8.jpg', title: 'Горный дух клинка', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 23 }];
							include mixins/catalog-item.pug
							.last-episodes
								.catalog
										each serial in serials
											+catalog-item(serial)
								button.button.button_type_border.full-width.last-episodes__button 
									span Показать все новые серии

							include includes/novelty.pug

							.catalog-full
								h2.h1.text-center Каталог: лучшие дорамы
								include includes/filter.pug
								- var catalog = [
								-		{ serialId: 100, img: './images/catalog-full/1.png', title: 'Горный дух клинка' },
								-		{ serialId: 101, img: './images/catalog-full/2.png', title: 'Моя прекрасная леди' },
								-		{ serialId: 102, img: './images/catalog-full/3.png', title: 'Черный пес' },
								-		{ serialId: 103, img: './images/catalog-full/4.png', title: 'Легендарный аромат' },
								-		{ serialId: 104, img: './images/catalog-full/5.png', title: 'Мой мальчик, Маугли' },
								-		{ serialId: 105, img: './images/catalog-full/6.png', title: 'Это моя жизнь' },
								-		{ serialId: 106, img: './images/catalog-full/7.png', title: 'Что скрывают маски' },
								-		{ serialId: 107, img: './images/catalog-full/8.png', title: 'Ангел рядом со мной' },
								-		{ serialId: 108, img: './images/catalog-full/9.png', title: 'Милосердная месть' },
								-		{ serialId: 109, img: './images/catalog-full/10.png', title: 'Любовь прекрасна, жизнь чудесна' },
								-		{ serialId: 110, img: './images/catalog-full/11.png', title: 'Неудача в любви' },
								-		{ serialId: 111, img: './images/catalog-full/12.png', title: 'Ты — это я' },
								-		{ serialId: 112, img: './images/catalog-full/13.png', title: 'Таинственный сад' },
								-		{ serialId: 113, img: './images/catalog-full/14.png', title: 'Млашка-лекарь' },
								-		{ serialId: 114, img: './images/catalog-full/15.png', title: 'Украсть на одну ночь' }];

								include mixins/catalog-item_type_poster.pug
								.catalog.catalog_5
									each serial in catalog
										+catalog-item_type_poster(serial)

							hr

							.page-description
								h3.h2 Где дорамы с русской озвучкой смотреть онлайн? 
								p 
									| Если вам когда-нибудь вдруг станет любопытно, с чего начинается настоящая любовь — спросите Клэр Дункан. Она не задумываюсь вам ответит: 
									| «С первого поцелуя!»
								p 
									| Дорама «Мир дорам» (русская озвучка) расскажет историю Клэр — девушки двадцати лет, важное место в жизни которой занимают сериалы с 
									| романтичными сюжетами.
								p 
									| Дорама «Мир дорам», которую вы можете смотреть онлайн в русской озвучке SoftBox, поведает вам, что не всем интересны прогулки с друзьями 
									| или поход на свидание с настоящими парнями. Реальный мир слишком скучен, особенно если ты там не персонаж главной роли. Гораздо больше 
									| Клэр притягивают дорамы. Она полностью теряет связь с реальностью, наблюдая за случайными встречами очаровательных юношей и девушек, 
									| долгими взглядам и миром, в котором всё просто создано для того, чтобы влюблённая пара была вместе.
								p 
									| Отец не принимает её увлечение. Являясь ярым противником виртуальной жизни, он категоричен в отношении глупых вечных переживаний своей 
									| дочери за событиями каких-то сериалов и безалаберной работы в семейном кафе.
								p 
									| Жизнь без дорам для Кэр теряет краски, особенно убивает девушку тот факт, что герои любимого сериала «Вкуса любви» Пак Джун и Со Ен всё 
									| ещё не вместе.
								p 
									| Больше, чем просмотреть любимый корейский сериал, дорамщица мечтает в него попасть. И мечты сбываются! Неведомая сила затягивает ее 
									| через телефон в Мир дорам и кидает в самую гущу событий.
								p 
									| Теперь Клэр предстоит предотвратить исчезновение Мира дорам и стать своего рода купидоном, обставляя события так, что героям будет 
									| суждено проявить весь спектр нежных чувств.
								p 
									| От девушки многое зависит. Удержится ли она от соблазна влюбить в себя самого идеального мужчину этой вселенной?
								p 
									| Все серии дорамы Dramaworld можно смотреть в высоком качестве. Вышла в 2016 году.

			include includes/footer.pug


									