<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Новые серии дорам
	body
		.wrap
			main
				include includes/header.pug

				.content
					.container
						.last-episodes-page
							include mixins/breadcrumbs.pug
							+breadcrumbs(['Новые серии дорам'])

							h1.page-title Новые серии дорам 2020

							include includes/last-episodes.pug

							include includes/novelty.pug

							hr

							.page-description
								h3.h2 Где новые серии дорам смотреть онлайн с русской озвучкой? 
								p 
									| Если вам когда-нибудь вдруг станет любопытно, с чего начинается настоящая любовь — спросите Клэр Дункан. Она не задумываюсь вам ответит: 
									| «С первого поцелуя!»
								p 
									| Дорама «Мир дорам» (русская озвучка) расскажет историю Клэр — девушки двадцати лет, важное место в жизни которой занимают сериалы с 
									| романтичными сюжетами.
								p 
									| Дорама «Мир дорам», которую вы можете смотреть онлайн в русской озвучке SoftBox, поведает вам, что не всем интересны прогулки с друзьями 
									| или поход на свидание с настоящими парнями. Реальный мир слишком скучен, особенно если ты там не персонаж главной роли. Гораздо больше 
									| Клэр притягивают дорамы. Она полностью теряет связь с реальностью, наблюдая за случайными встречами очаровательных юношей и девушек, 
									| долгими взглядам и миром, в котором всё просто создано для того, чтобы влюблённая пара была вместе.
								p 
									| Отец не принимает её увлечение. Являясь ярым противником виртуальной жизни, он категоричен в отношении глупых вечных переживаний своей 
									| дочери за событиями каких-то сериалов и безалаберной работы в семейном кафе.
								p 
									| Жизнь без дорам для Кэр теряет краски, особенно убивает девушку тот факт, что герои любимого сериала «Вкуса любви» Пак Джун и Со Ен всё 
									| ещё не вместе.
								p 
									| Больше, чем просмотреть любимый корейский сериал, дорамщица мечтает в него попасть. И мечты сбываются! Неведомая сила затягивает ее 
									| через телефон в Мир дорам и кидает в самую гущу событий.
								p 
									| Теперь Клэр предстоит предотвратить исчезновение Мира дорам и стать своего рода купидоном, обставляя события так, что героям будет 
									| суждено проявить весь спектр нежных чувств.
								p 
									| От девушки многое зависит. Удержится ли она от соблазна влюбить в себя самого идеального мужчину этой вселенной?
								p 
									| Все серии дорамы Dramaworld можно смотреть в высоком качестве. Вышла в 2016 году.

			include includes/footer.pug									