<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Поиск
	body
		.wrap
			main
				include includes/header.pug

				.content
					.container
						.search-page
							include mixins/breadcrumbs.pug
							+breadcrumbs(['Результаты поиска'])

							h1.page-title Результаты поиска

							.search-form
								form
									.form-item 
										input(type="text" placeholder="введите название...")
										button.search-clean(type="button")
											svg.icon-svg-close
												use(xlink:href="#close")
									button.button(type="button")
										span Начать поиск

							- var searchResult = [
							-		{ 
							-			img: './images/search-result/1.png', 
							-			title: 'Яркая  жизнь (2019)', 
							-			alternativeTitle: 'Яркая жизнь / Бриллиантовое время',
							-			rating: 7.9,
							-			genre: 'драмы, мелодрама, фэнтези',
							-			description: [
							-				'Если вам когда-нибудь вдруг станет любопытно, с чего начинается настоящая любовь — спросите Клэр Дункан. Она не задумываюсь вам ответит: «С первого поцелуя!»',
							-				'Дорама «Мир дорам» (русская озвучка) расскажет историю Клэр — девушки двадцати лет, важное место в жизни которой занимают сериалы с романтичными сюжетами.  ...'
							-			]
							-		},
							-		{ 
							-			img: './images/search-result/2.png', 
							-			title: 'Это моя жизнь (2019)', 
							-			alternativeTitle: 'Это моя жизнь / Это мое время ',
							-			rating: 7.9,
							-			genre: 'драмы, мелодрама, фэнтези',
							-			description: [
							-				'Если вам когда-нибудь вдруг станет любопытно, с чего начинается настоящая любовь — спросите Клэр Дункан. Она не задумываюсь вам ответит: «С первого поцелуя!»',
							-				'Дорама «Мир дорам» (русская озвучка) расскажет историю Клэр — девушки двадцати лет, важное место в жизни которой занимают сериалы с романтичными сюжетами.  ...'
							-			]
							-		},
							-		{ 
							-			img: './images/search-result/3.png', 
							-			title: 'Школьная  жизнь (2019)', 
							-			alternativeTitle: 'Школьное время / Школьная жизнь',
							-			rating: 7.9,
							-			genre: 'драмы, мелодрама, фэнтези',
							-			description: [
							-				'Если вам когда-нибудь вдруг станет любопытно, с чего начинается настоящая любовь — спросите Клэр Дункан. Она не задумываюсь вам ответит: «С первого поцелуя!»',
							-				'Дорама «Мир дорам» (русская озвучка) расскажет историю Клэр — девушки двадцати лет, важное место в жизни которой занимают сериалы с романтичными сюжетами.  ...'
							-			]
							-		}];

							include mixins/search-item-serial.pug
							.search-result
								each serial in searchResult
									+search-item-serial(serial)
							
							- var serials = [
							-		{ img: './images/serials-main/1.jpg', title: 'Ангел рядом со мной', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 20 },
							-		{ img: './images/serials-main/2.jpg', title: 'Моя прекрасная леди', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 23 },
							-		{ img: './images/serials-main/3.jpg', title: 'Ты — это я', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 6 },
							-		{ img: './images/serials-main/4.jpg', title: 'Милосердная месть', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 12 },
							-		{ img: './images/serials-main/5.jpg', title: 'Что скрывают маски', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 47 },
							-		{ img: './images/serials-main/6.jpg', title: 'Таинственный сад', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 16 },
							-		{ img: './images/serials-main/7.jpg', title: 'Милосердная месть', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 8 },
							-		{ img: './images/serials-main/8.jpg', title: 'Легендарный аромат', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 15 },
							-		{ img: './images/serials-main/1.jpg', title: 'Милашка-лекарь', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 11 },
							-		{ img: './images/serials-main/2.jpg', title: 'Украсть на одну ночь', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 3 },
							-		{ img: './images/serials-main/3.jpg', title: 'Это моя жизнь', sounds: ['Softbox', 'GreenTea', 'Храм Дорам'], episodeNumber: 6 }];
							include mixins/catalog-item.pug
							.search-catalog
								.catalog
									each serial in serials
										+catalog-item(serial)
								button.button.full-width 
									span Больше серий!


			include includes/footer.pug									