@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/typography';
@import 'base/animate';
@import 'base/icons';

@import '../../node_modules/sweetalert2/src/sweetalert2';
@import '../../node_modules/nouislider/distribute/nouislider.min.css';

@import 'tools/grid';

@import 'components/simplebar';
@import 'components/swiper';
@import 'components/breadcrumbs';
@import 'components/buttons';
@import 'components/show-more';
@import 'components/input-fields';
@import 'components/player';
@import 'components/rating';
@import 'components/select';
@import 'components/tabs';
@import 'components/tags';
@import 'components/tooltip';
@import 'components/catalog';
@import 'components/footer';
@import 'components/header';
@import 'components/modal';
@import 'components/pagination';
@import 'components/filter';
@import 'components/custom-slider';
@import 'components/schedule';
@import 'components/about-serial';
@import 'components/header-search';
@import 'components/serial-info-popover';

.wrap {
	@include flex;
	@include flex-direction;
	min-height: 100vh;

	main {
		flex-grow: 1;
		margin-bottom: 48px;

		@include mq("md") {
			margin-bottom: 18px;
		}
	}
}

.content {
	padding-top: 15px;

	@include mq("md") {
		padding-top: 11px;
	}
}

.page-title {
	margin-top: 0;
	margin-bottom: 16px;
	line-height: 0.95;

	@include mq("md") {
		line-height: 1;
	}
}

.page-subtitle {
	@include font-light-22;
	color: var(--color-sand);

	@include mq("md") {
		font-size: 18px;
		line-height: 1.3;
		display: inline-block;
	}
}

hr {
	border: none;
	display: inline-block;
	width: 100%;
	height: 1px;
	background: linear-gradient(65deg, $gradient-from, $gradient-to);
	opacity: .4;
	margin: 17px 0;
}

.page-description {
	width: 100%;
	max-width: 810px;
	font-weight: 300;

	h3 {
		margin-bottom: 10px;
	}
}

@import 'pages/index';
@import 'pages/last-episodes';
@import 'pages/category';
@import 'pages/episode';
@import 'pages/search';