.container {
	width: 100%;
	max-width: 1005px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;

	@include mq("xl") {
		max-width: 100%;
	}

	@include mq("sm") {
		padding: 0 12px;
	}
}

.full-width {
	width: 100%;
}